<div class="card p-3">
	<div class="container">


		<div class="p-0 mt-3">
			<div class=" mb-3 d-flex justify-content-between flex-wrap">
				<div >
					<h4 >AGREGAR PROVEEDOR</h4>
				</div>
				<div >
					<button type="button" expand="block" type="submit" class="btn btn-primary btn-sm" (click)="guardar()"
				[disabled]="is_loading">Guardar</button>
				</div>
			</div>
		</div>
		
		<app-loading [display]="is_loading"></app-loading>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label position="stacked">Nombre<span color="danger">*</span></label>
				<input type="text" class="form-control" name="nombre" [(ngModel)]="proveedor.nombre">
			</div>
			<div class="form-group col-md-6">
				<label position="stacked">Telefono<span color="danger">*</span></label>
				<input type="text" class="form-control" name="telefono" [(ngModel)]="proveedor.telefono">
			</div>
			<div class="form-group col-md-6">
				<label position="stacked">RFC<span color="danger">*</span></label>
				<input type="text" class="form-control" name="rfc" [(ngModel)]="proveedor.rfc">
			</div>
			<div class="form-group col-md-6">
				<label position="stacked">Direccion<span color="danger">*</span></label>
				<input type="text" class="form-control" name="direccion" [(ngModel)]="proveedor.direccion">
			</div>
			<div class="form-group col-md-6">
				<label position="stacked">Contacto<span color="danger">*</span></label>
				<input type="text" class="form-control" name="contacto" [(ngModel)]="proveedor.contacto">
			</div>
			<div class="form-group col-md-6">
				<label position="stacked">Cuenta Bancaria<span color="danger">*</span></label>
				<input type="text" class="form-control" name="cuenta_bancaria" [(ngModel)]="proveedor.cuenta_bancaria">
			</div>
			<div class="form-group col-md-6">
				<label position="stacked">Dias Credito<span color="danger">*</span></label>
				<input type="text" class="form-control" name="dias_credito" [(ngModel)]="proveedor.dias_credito">
			</div>
			<div class="form-group col-md-6">
				<label position="stacked">Nota<span color="danger">*</span></label>
				<input type="text" class="form-control" name="nota" [(ngModel)]="proveedor.nota">
			</div>
		</div>
	
	</div>
</div>