<div class="card p-3">
	<div class="container">
		<div class="p-0 mt-3">
			<div class="d-flex justify-content-between flex-wrap">
				<div class="mb-3">
					<h4>ESPECIALIDADES</h4>
				</div>
				<div class="mb-3">
					<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/agregar-especialidad']">
						Agregar especialidad
					</button>
				</div>
			</div>
		</div>

		<div>
			<div class="input-group mb-2">
				<input type="text" [(ngModel)]="especialidad_search.lk.nombre" class="form-control">
				<div class="input-group-append">
					<button class="btn btn-sm btn-primary" type="button" id="button-addon1"
						(click)="search()">Buscar</button>
				</div>
			</div>
		</div>

		<div class="card">
		<table class="basica">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let especialidad of especialidades">
					<td>
						<div>{{ especialidad.nombre }}</div>
					</td>
					<td class="p-0">
						<button class="m-1 btn btn-sm btn-primary"
							[routerLink]="['/editar-especialidad', especialidad.id]">Editar</button>

						<button class="m-1 btn btn-sm btn-primary"
							[routerLink]="['/configurar-especialidad', especialidad.id]">Configurar preguntas</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		<app-paginacion [path]="'/especialidades'" [pages]="pages" [totalPages]="totalPages"
			[currentPage]="currentPage"></app-paginacion>
	</div>
</div>