.acciones button{
line-height: 12px;
}

.cButton{
    padding: 0 !important;
}
.menuIcons{
    /* vertical-align:middle; */
    margin:0;

  }
.border{
    border: 1px solid #000000;
}
.icons{
  padding:0 !important;
  background-color: none;
}
.aling{
  padding: 5px !important;
  margin: 10px;
}
.options{
  text-align: center !important;
  margin: 0 !important;
  width: 10%;
}
