<div class="card p-3">
    <div class="">

        <div class="p-0 mt-3">
            <div class=" mb-3 d-flex justify-content-between flex-wrap">
                <div>
                    <h4>CITA #1</h4>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary btn-sm" (click)="agregar()" [disabled]="is_loading">
                        botonsito
                    </button>
                </div>
            </div>
            <label for="">progreso tiempo cita </label>
            <div class="progress">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            </div>
            <div class="card mt-3 mb-3 p-2 ">
               
                <div class=" mb-3 d-flex justify-content-between flex-wrap">
                    <div>
                        <h5 class="mb-3 mt-3">*Nuevo Servicio</h5>
                    </div>
    
                    <div>
                        <button type="submit" class="btn btn-primary btn-sm" (click)="agregar()" [disabled]="is_loading">
                            Pagar
                        </button>
                    </div>
                </div>
               
                <div class="form-row">
    
                    <div class="form-group col-md-6">
                        <div class="dropdown">
                            <div class="">
                                <label position="stacked">Articulo<span color="danger">*</span></label>
                                <input type="text" (keyup)="buscar($event)" [(ngModel)]="busqueda" class="form-control">
                            </div>
                            <div *ngIf="search_servicios.length && busqueda != ''" class="dropdown-menu show w-100">
                                <div *ngFor="let servicio of search_servicios;let i=index"
                                    (click)="agregarServicio(servicio)">
                                    <div *ngIf="i>0" class="dropdown-divider"></div>
                                    <div class="dropdown-item">
                                        {{servicio.nombre}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" card p-0 mb-3 ">
                    <table class="basica p-0 m-0">
                        <thead>
                            <tr>
                                <th>Articulo</th>
                                <th>Cantidad</th>
                                <th>Costo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sd of detalles_requisicion">
                                <th>
                                    <label>{{servicios_by_id[ sd.id_servicio ].nombre | titlecase}}</label>
                                </th>
                                <th>
                                    <input type="number" [(ngModel)]="sd.cantidad" step="1" min=0>
                                </th>
                                <th>
                                    <input type="number" [(ngModel)]="sd.costo" step="1" min=0>
                                </th>
                                <th>
                                    <button class="btn btn-secondary btn-sm">x</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <label for=""> Agregar servicios nuevos</label>
            <label for=""> Recalcular tiempo</label>
        </div>
    </div>
</div>