<main class="">
	<div class="card p-3">
		<div class="">
			<h4 class=" mb-3">CONSULTA</h4>
			<div class="mb-3">
				<button type="button"
					[routerLink]="['/llenar-historia-clinica','doctor',doctor.id,'paciente',paciente.id]"
					class="btn btn-primary">Ver Historial</button>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<!-- progreso de la cita -->
					<div class="card p-2">
						<label for="">progreso tiempo cita </label>
						<div class="progress">
							<div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
								role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
								style="width: 50%"></div>
						</div>
					</div>
					<!-- servicios -->
					<div class="card mt-1 p-2 ">
						<app-punto-venta-consulta [datosVenta]="datosVenta"></app-punto-venta-consulta>
						<div *ngIf="datosVenta !== null">
							{{datosVenta.detalles.length}} {{totalProducts}}
						</div>
					</div>
					<!-- fin servicios -->
				</div>

				<div class="card form-group col-md-6 p-2">

					<div>
						<div>
							<div class="">Doctor: <b>{{doctor.nombre | titlecase }}</b></div>
							<div class="">Paciente: <b>{{paciente.nombre | titlecase }}
									{{paciente.apellidos|titlecase}}</b>
							</div>
						</div>
					</div>
					<div class="mt-3 mb-3">
						<label class="">Motivo de la Consulta</label>
						<textarea class="form-control" [(ngModel)]="consulta.motivo_consulta"></textarea>
					</div>
					<div class="mt-3 mb-3">
						<label class="">Diagnostico Objetivo</label>
						<textarea class="form-control " [(ngModel)]="consulta.diagnostico"></textarea>
					</div>
					<div class="mt-3 mb-3">
						<label class="">Diagnostico Subjetivo</label>
						<textarea class="form-control" [(ngModel)]="consulta.subjetivo"></textarea>
					</div>
					<div class="mt-3 mb-3">
						<label class="">Tratamiento</label>
						<textarea class="form-control" [(ngModel)]="consulta.tratamiento"></textarea>
					</div>

					<div class="mt-3 mb-3">
						<label class="">Analisis</label>
						<textarea class="form-control" [(ngModel)]="consulta.analisis"></textarea>
					</div>
					<div *ngIf="error_message">
						<div class="alert alert-danger" role="alert">{{error_message}}</div>
					</div>
				</div>
			</div>
			<div>
				<button type="button" [disabled]="is_loading" (click)="guardar()"
					class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
</main>
