<main class="">
	<div class="card p-3">
		<div class="">
			<div class="d-inline-flex  mb-3">
				<div class="mr-4">
					<h4 class=" align-self-end ">CONSULTA</h4>
				</div>
				<div class="align-self-center">
					<h5> Paciente: <b>{{paciente.nombre | titlecase }}
							{{paciente.apellidos|titlecase}}</b></h5>
				</div>
			</div>
			<div class="d-flex mb-2 flex-wrap">
				<button [routerLink]="['/ver-consultas','doctor',doctor.id,'paciente',paciente.id]"
					class="btn btn-primary mr-2">Ver Historial</button>
				<button [routerLink]="['/historia-clinica','doctor',doctor.id,'paciente',paciente.id]"
					class="btn btn-primary">Historia Medica</button>
			</div>
			<!-- <div class="mb-3">
				<button type="button"
					[routerLink]="['/llenar-historia-clinica','doctor',doctor.id,'paciente',paciente.id]"
					class="btn btn-primary">Ver Historial</button>
			</div> -->
			<div class="form-row">
				<div class="form-group col-md-12">
					<div class="card p-2">
						<label for="">Tiempo Transcurrido: {{tiempo_transcurrido | number: '1.0-0'}} min</label>
						<div class="progress" style="height: 20px; border-radius: 5px;"
							*ngIf="this.consulta.inicio_consulta != null && this.consulta.fin_consulta == null">
							<div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
								*ngIf="this.consulta.inicio_consulta != null && this.consulta.fin_consulta == null"
								role="progressbar" [ngStyle]="{width:porcentaje}"  aria-valuenow="100" aria-valuemin="0"
								aria-valuemax="100"></div>
						</div>
						<div *ngIf="this.consulta.inicio_consulta != null && this.consulta.fin_consulta != null"
							class="progress text" style="height: 20px;border-radius: 6px;" >
							<div class="progress-bar bg-warning h-100" role="progressbar" [ngStyle]="{width:porcentaje}"
								aria-valuenow="100" aria-valuemin="0"  aria-valuemax="100"></div>
						</div>
						<div class="pt-2 d-flex flex-row-reverse"
							*ngIf="this.consulta.inicio_consulta == null && this.consulta.fin_consulta == null">

							<button (click)='startTimer()' class="btn btn-primary">Iniciar Consulta</button>
						</div>
						<div class="pt-2 d-flex flex-row-reverse"
							*ngIf="this.consulta.inicio_consulta != null && this.consulta.fin_consulta == null">
							<button (click)='pauseTimer()' class="btn btn-primary mr-2">Finalizar Consulta</button>
						</div>
						<!-- al finalizar la cita -->
						<div class="pt-2 d-flex flex-row-reverse"
							*ngIf="this.consulta.inicio_consulta != null && this.consulta.fin_consulta != null">
							<button (click)='procederPago()' class="btn btn-primary">Proceder al pago</button>
						</div>
					</div>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<!-- progreso de la cita -->

					<!-- servicios -->
					<div class="card p-2">
						<app-punto-venta-consulta [datosVenta]="datosVenta" [id_servicio_default]="id_servicio_default">
						</app-punto-venta-consulta>
						<!-- div *ngIf="datosVenta !== null">{{datosVenta.detalles.length}} {{totalProducts}}</div -->
					</div>
					<!-- fin servicios -->
				</div>

				<div class="form-group col-md-6">
					<div class="card p-2">
						<div class="mb-2">
							<label class="">Motivo de la Consulta</label>
							<textarea class="form-control" [(ngModel)]="consulta.motivo_consulta"></textarea>
						</div>
						<div class="mt-2 mb-2">
							<label class="">Diagnostico Objetivo</label>
							<textarea class="form-control " [(ngModel)]="consulta.diagnostico"></textarea>
						</div>
						<div class="mt-2 mb-2">
							<label class="">Diagnostico Subjetivo</label>
							<textarea class="form-control" [(ngModel)]="consulta.subjetivo"></textarea>
						</div>
						<div class="mt-2 mb-2">
							<label class="">Tratamiento</label>
							<textarea class="form-control" [(ngModel)]="consulta.tratamiento"></textarea>
						</div>

						<div class="mt-2 mb-2">
							<label class="">Analisis</label>
							<textarea class="form-control" [(ngModel)]="consulta.analisis"></textarea>
						</div>
						<div *ngIf="error_message">
							<div class="alert alert-danger" role="alert">{{error_message}}</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div>
				<button type="button" [disabled]="is_loading" (click)="guardar()"
					class="btn btn-primary">Guardar</button>
			</div> -->
		</div>
	</div>
</main>