<div class="card p-2">
    <div *ngIf="requisicion" class="p-1">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div>
                    <h2>Recibir Requisición No: <a style="color:red">{{requisicion.id}}</a> </h2>
                </div>
                <div>
                    <label for="">No. Pedimento: {{requisicion.pedimento}}</label>
                </div>
            </div>
            <div class="text-right pull-right col-md-6 col-sm-12"> <button class=" btn btn-primary btn-sm" (click)="recibirDetalles()">Recibir</button></div>
        </div>

    </div>
    <div>
        <table class="basica">
            <thead>
                <tr>
                    <th>Articulo</th>
                    <th>Cantidad</th>
                    <th>Recibido</th>
                    <th>Merma</th>
                    <th class="text-center aling-middle p-0 m-0 ">
                        <!-- <input  type="checkbox" id="inlineCheckbox1" value="option1"> -->
                        <label class="form-check-label" for="inlineCheckbox1">Recibido</label>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let detalle of detalles">
                    <td>{{servicio_dic[ detalle.id_servicio ].nombre}}</td>
                    <td class="text-center">{{detalle.cantidad }}</td>
                    <td class="text-center"><input type="number" (change)="incrementar(detalle)" [(ngModel)]="detalle.recibido"></td>
                    <td class="text-center"><input type="number"(change)="incrementar(detalle)"  [(ngModel)]="detalle.merma"> </td>
                    <td class="text-center">
                        <input type="checkbox" value="{{detalle.estatus}}" [checked]="detalle.estatus =='RECIBIDO'" (change)="checked(detalle)">
                        <!-- <label class="form-check-label" for="inlineCheckbox1">1</label> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>