<div [ngClass]="{ 'custom-modal':true, 'd-none': !show}">
	<!--button type="button" *ngIf="idOrganizacion" (click)="dismissModal()">Cerrar</button -->
	<div>
		<h2>Seleccione un Paciente</h2>
		<div>
			<input class="form-control" type="text" placeholder="Buscar..." id="searchPaciente" (keyup)="onKeyPressed($event)">
		</div>
		<app-paginacion [pages]="pages" (selectedPage)="onSelectedPage($event)" [totalPages]="totalPages" [currentPage]="currentPage"></app-paginacion>
		<ul class="list-group mt-3">
			<li *ngFor="let p of pacientes" class="list-group-item"  (click)="seleccionarPaciente( p )">
				{{p.nombre}} {{p.apellidos}}
			</li>
		</ul>
	</div>
</div>
