<app-header>
  <ion-toolbar>
    <h1>agregar-tipo-gasto</h1>
  </ion-toolbar>
</app-header>

<div class="container">

	<ion-list lines="full" class="ion-no-margin ion-no-padding">
		<div class="form-group"
			<label position="stacked">Nombre<span color="danger">*</span></label>
			<ion-input required type="text" name="nombre" [(ngModel)]="tipoGasto.nombre"></ion-input>
		</div>
	</ion-list>

	<app-loading *ngIf="is_loading"></app-loading>

	<div class="ion-padding">
		<button type="button" expand="block" type="submit" class="ion-no-margin" (click)="guardar()" [disabled]="is_loading">Guardar</button>
	</div>
</div>
