<ion-header>
  <ion-toolbar>
    <ion-title>agregar-tipo-gasto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list lines="full" class="ion-no-margin ion-no-padding">
		<ion-item>
			<ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text></ion-label>
			<ion-input required type="text" name="nombre" [(ngModel)]="tipoGasto.nombre"></ion-input>
		</ion-item>
	</ion-list>

	<ion-spinner *ngIf="is_loading"></ion-spinner>

	<div class="ion-padding">
		<ion-button expand="block" type="submit" class="ion-no-margin" (click)="guardar()" [disabled]="is_loading">Guardar</ion-button>
	</div>
</ion-content>
