<ion-header>
	<ion-toolbar>
		<ion-title>llenar-historia-clinica</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<app-loading [display]="is_loading"></app-loading>
	<div class="container">
		<div *ngIf="msgError" class="alert alert-danger" role="alert">{{msgError}}</div>
		<div>
			<div class="form-group">
				<label for="paciente_nombre">Nombres</label>
				<input type="text" class="form-control" id="paciente_nombre" placeholder="Nombres"
					[value]="paciente.nombres">
			</div>
			<div v class="form-group">
				<label for="paciente_apellido">Apellidos</label>
				<input type="text" class="form-control" id="paciente_nombre" placeholder="Apellidos"
					[value]="paciente.apellidos">
			</div>
			<div>
				<div *ngFor="let p of preguntas;let i = index;">
					<div *ngIf="p.pregunta.es_pregunta_binaria == 'SI'">
						<ion-radio-group>
							<ion-list-header>
								<ion-label>{{p.pregunta.pregunta}}</ion-label>
							</ion-list-header>
							<ion-item>
								<ion-label>SI</ion-label>
								<ion-radio slot="start" value="SI"
									[(ngModel)]="preguntas[i].respuesta.respuesta_binaria"></ion-radio>
							</ion-item>
							<ion-item>
								<ion-label>NO</ion-label>
								<ion-radio slot="start" value="NO"
									[(ngModel)]="preguntas[i].respuesta.respuesta_binaria"></ion-radio>
							</ion-item>
							<ion-item>
								<ion-label>OTRO</ion-label>
								<ion-radio slot="start" value="OTRO"
									[(ngModel)]="preguntas[i].respuesta.respuesta_binaria"></ion-radio>
							</ion-item>
						</ion-radio-group>
					</div>
					<input type="text" [name]="'a'+p.id" [value]="p.respuesta.respuesta"
						[(ngModel)]="preguntas[i].respuesta.respuesta">
				</div>
				<div>
					<ion-button (click)="guardar()">Guardar</ion-button>
				</div>
			</div>
		</div>
	</div>
</ion-content>
