.bloqueDoctor{
    display: none;
}

@media print {
  #sidebar-wrapper,.menuButtons,header,.no-print{
      display: none !important;
  }
  .print{
  display: block !important;
  }

}

.color-boton{
  background-color: #2196f3 !important;
}
