<div class="card p-3">
	<div class="container">
		<h4 class="no-print">HISTORIA CLINICA</h4>

		<div class="mt-3">
			<div>
				<div class="form-row">
					<div class="col-md-4">
						<label for="paciente_nombre"><b>Nombre:</b> {{paciente.nombre}} {{paciente.apellidos}}</label>
				
					</div>

				</div>
				<div>
					<div class="pt-3 mb-3" *ngFor="let p of preguntas;let i = index;">
						<div class="">
							<label class=""
								*ngIf="p.pregunta.tipo_pregunta != 'SECCION_PREGUNTAS' "><b>{{p.pregunta.pregunta}}</b></label>
							<h5 class="pt-2" *ngIf="p.pregunta.tipo_pregunta == 'SECCION_PREGUNTAS' ">
								<b>{{p.pregunta.pregunta}}</b></h5>
						</div>
						<div *ngIf="p.pregunta.es_pregunta_binaria == 'SI'">
							<div class="mr-3 form-check form-check-inline">
								<input type="radio" value="SI" [(ngModel)]="p.respuesta.respuesta_binaria"
									class="form-check-input" [name]="'pregunta'+i">
								<label class="form-check-label">SI</label>
							</div>
							<div class="mr-3 form-check form-check-inline">
								<input type="radio" value="NO" [(ngModel)]="p.respuesta.respuesta_binaria"
									class="form-check-input" [name]="'pregunta'+i">
								<label class="form-check-label">NO</label>
							</div>
							<div class="mr-3 form-check form-check-inline">
								<input type="radio" value="OTRO" [(ngModel)]="p.respuesta.respuesta_binaria"
									class="form-check-input" [name]="'pregunta'+i">
								<label class="form-check-label mr-2">OTRO</label>

								<div class="form-check form-check-inline pl-2">
									<input *ngIf="p.pregunta.tipo_pregunta != 'SECCION_PREGUNTAS' " type="text"
										[name]="'a'+ p.pregunta.id" [value]="p.respuesta.respuesta"
										[(ngModel)]="p.respuesta.respuesta">

								</div>
							</div>
						</div>

					</div>

					<div class="pt-4 bloqueDoctor print">
						<div class="grid">
							<div class="row">
								<label>Firma del paciente: _______________________</label> <label class="pl-4">Fecha:
									_______________________</label>

							</div>
							<div class=row>
								<p class="text-justify">La información que presento es verdadera y legitima, la cual se
									mantendrá confidencial y bajo el resguardo de
									Clinica Smiler Ortho Center. Informare a la clínica sobre la existencia de algun
									cambio en la salud del paciente.
									Y autorizo a Clínica Smile Ortho Center y a su resonsable del Dr. Luis Eduardo Perez
									Madrigal, El realizar el tratamiento de Ortodoncia
									o Dental sugerido por el responsable.
								</p>
							</div>
						</div>

					</div>
					<div *ngIf="error_message" class="alert alert-danger" role="alert">{{error_message}}</div>
					<div>
						<button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>