<div class="card p-3">
	<div class="container">

		<div class="p-0 mt-3">
			<div class="mb-3 d-flex justify-content-between flex-wrap">
				<div>
					<h4>USUARIOS</h4>
				</div>
				<div>
					<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/agregar-usuario']">
						Agregar usuario
					</button>
				</div>
			</div>
		</div>

		<div class=" d-flex flex-column justify-content-between flex-wrap">
			<div>
				<div class=" form-check form-check-inline">
					<input class="form-check-input" type="checkbox" (click)="clearBusqueda()"
						(change)="busquedaAvanzada=!busquedaAvanzada">&nbsp;
					<label class="form-check-label"> Busqueda Avanzada</label>
				</div>
			</div>
		</div>

		<div class="mb-2" *ngIf="busquedaAvanzada==false">
			<div class="input-group" >
				<input type="text" [(ngModel)]="usuario_search.lk.nombre" class="form-control">
				<div class="input-group-append">
					<button class="btn btn-sm btn-primary" type="button" id="button-addon1"
						(click)="search()">Buscar</button>
				</div>
			</div>
		</div>

		<div class=" card p-0 mb-2" *ngIf="busquedaAvanzada">
			<div class="form-row p-2">
				<div class="form-group col-md-3">
					<label>Usuario</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.usuario">
				</div>
				<div class="form-group col-md-3">
					<label>Nombre</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.nombre">
				</div>
				<!-- <div class="form-group col-md-3">
					<label>Atendio:</label>
					<select name="usuarios_atendio" [(ngModel)]="usuario_search.eq.id_usuario_atendio"
						class="form-control">
						<option value="">Seleccione</option>
						<option *ngFor="let usuario of usuarios_atendio" [value]="usuario.id">
							{{usuario.nombre|titlecase}}</option>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label>Centro Medico:</label>
					<select name="centro_medico" [(ngModel)]="usuario_search.eq.id_centro_medico" class="form-control">
						<option value="">Seleccione</option>
						<option *ngFor="let centro_medico of centros_medicos" [value]="centro_medico.id">
							{{centro_medico.nombre|titlecase}}</option>
					</select>
				</div> -->
				<div class="form-group col-md-3">
					<label>Correo</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.correo_electronico">
				</div>

				<div class="form-group col-md-3">
					<label>Telefono</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.telefono">
				</div>
				<div class="form-group col-md-3">
					<label>Tipo</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.tipo">
				</div>
				<div class="form-group col-md-3">
					<label>&nbsp;</label>
					<button type="button" class="btn btn-primary w-100" (click)="search()">Buscar</button>
				</div>
			</div>
		</div>

		<div class="card">
			<table class="basica">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Telefono</th>
						<th>Tipo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let usuario of usuarios">
						<td>{{usuario.usuario}}</td>
						<td>{{usuario.nombre}}</td>
						<td>{{usuario.correo_electronico}}</td>
						<td>{{usuario.telefono}}</td>
						<td>{{usuario.tipo}}</td>
						<td class="p-0">
							<button class="btn btn-light p-0 m-1 border "
							[routerLink]="['/editar-usuario',usuario.id]">
								<span class="">
									<i class="">
										<img src="../../../assets/icon/options/editar.png" height="35px" width="35px"
											class="menuIcons icons" />
									</i>
								</span>
							</button>
							<!-- <button type="button" class="btn btn-primary btn-sm m-1"
								[routerLink]="['/editar-usuario',usuario.id]">Editar</button> -->
						</td>
				</tbody>
			</table>
		</div>

		<div>
			<app-paginacion [path]="'/usuarios'" [pages]="pages" [totalPages]="totalPages" [currentPage]="currentPage">
			</app-paginacion>
		</div>

	</div>
</div>