<div class="card p-3">
	<div class="">

		<div class="p-0">
			<div class="mb-2 d-flex justify-content-between flex-wrap">
				<div>
					<h4>USUARIOS</h4>
				</div>
				<div>
					<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/agregar-usuario']">
						Agregar usuario
					</button>
				</div>
			</div>
		</div>

		<div class=" d-flex flex-column justify-content-between flex-wrap">
			<div>
				<div class=" form-check form-check-inline">
					<input class="form-check-input" type="checkbox" (click)="clearBusqueda()"
						(change)="busquedaAvanzada=!busquedaAvanzada">&nbsp;
					<label class="form-check-label"> Busqueda Avanzada</label>
				</div>
			</div>
		</div>

		<div class="mb-2"  *ngIf="busquedaAvanzada==false">
			<div class="input-group" >
				<input type="text" placeholder="Buscar" [(ngModel)]="usuario_search.lk.nombre" class="form-control">
				<div class="input-group-append">
					<button class="btn btn-sm btn-primary" type="button" id="button-addon1"
						(click)="search()"><svg aria-hidden="true" width="20px" height="20px" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg></button>
				</div>
			</div>
		</div>

		<div class=" card p-0 mb-2" *ngIf="busquedaAvanzada">
			<div class="form-row p-2">
				<div class="form-group col-md-3">
					<label>Usuario</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.usuario">
				</div>
				<div class="form-group col-md-3">
					<label>Nombre</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.nombre">
				</div>
				<!-- <div class="form-group col-md-3">
					<label>Atendio:</label>
					<select name="usuarios_atendio" [(ngModel)]="usuario_search.eq.id_usuario_atendio"
						class="form-control">
						<option value="">Seleccione</option>
						<option *ngFor="let usuario of usuarios_atendio" [value]="usuario.id">
							{{usuario.nombre|titlecase}}</option>
					</select>
				</div>
				<div class="form-group col-md-3">
					<label>Centro Medico:</label>
					<select name="centro_medico" [(ngModel)]="usuario_search.eq.id_centro_medico" class="form-control">
						<option value="">Seleccione</option>
						<option *ngFor="let centro_medico of centros_medicos" [value]="centro_medico.id">
							{{centro_medico.nombre|titlecase}}</option>
					</select>
				</div> -->
				<div class="form-group col-md-3">
					<label>Correo</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.correo_electronico">
				</div>

				<div class="form-group col-md-3">
					<label>Telefono</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.telefono">
				</div>

				<div class="form-group col-md-3">
					<label>Tipo:</label>
					<select  name="tipo" [(ngModel)]="usuario_search.lk.tipo"
						class="form-control">
						<option value="" selected="selected" selected>Seleccione</option>
						<option value="ADMIN">ADMIN</option>
						<option value="PACIENTE">PACIENTE</option>
						<option value="DOCTOR">DOCTOR</option>
					</select>
				</div>

				<!-- <div class="form-group col-md-3">
					<label>Tipo</label>
					<input class="form-control" type="text" [(ngModel)]="usuario_search.lk.tipo">
				</div> -->
				<div class="form-group col-md-3">
					<label>&nbsp;</label>
					<button type="button" class="btn btn-primary w-100" (click)="search()">Buscar</button>
				</div>
			</div>
		</div>

		<div class="card">
			<table class="basica">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Telefono</th>
						<th>Tipo</th>
						<th >Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let usuario of usuarios">
						<td>{{usuario.usuario}}</td>
						<td>{{usuario.nombre}}</td>
						<td>{{usuario.correo_electronico ? usuario.correo_electronico : 'N/A'}}</td>
						<td>{{usuario.telefono ? usuario.telefono : 'N/A'}}</td>
						<td>{{usuario.tipo}}</td>
						<td class="p-0 options">
							<button class="btn btn-light p-0 m-1 border"
							[routerLink]="['/editar-usuario',usuario.id]"
							data-toggle="tooltip" title="Editar">
								<span class="">
									<i class="">
										<img src="./assets/icon/options/editar.png" height="35px" width="35px"
											class="menuIcons icons" />
									</i>
								</span>
							</button>
							<!-- <button type="button" class="btn btn-primary btn-sm m-1"
								[routerLink]="['/editar-usuario',usuario.id]">Editar</button> -->
						</td>
				</tbody>
			</table>
		</div>

		<div>
			<app-paginacion [path]="'/usuarios'" [pages]="pages" [totalPages]="totalPages" [currentPage]="currentPage">
			</app-paginacion>
		</div>

	</div>
</div>
