<nav class="navbar d-flex flex-row navbar-expand-md navbar-dark bg-primary padnull">
	<div class="bd-highlight pull-left">
		<img src="./assets/logo/Mehr-Software-16.png" [routerLink]="['/dashboard']" class="logoMenu"
			alt="Sample image" />
	</div>
	<div *ngIf="clinica" class="p-2 bd-highlight alling collapse navbar-collapse hidden-xs"><i class="fa fa-clinic-medical ml-2 mr-2"></i><a>{{clinica.nombre}}</a></div>
	<div class="d-flex bd-highlight ml-auto">

		<div class="p-1 bd-highlight collapse navbar-collapse"><img src="./assets/icon/Mehr-Software-34.png"
				class="logoUser" /></div>
		<div class="p-2 bd-highlight alling collapse navbar-collapse hidden-xs">
			<div class="dropdown">
				<button class="btn  dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<a  class="pr-2" style="color: white;">{{nombre}}</a>
				</button>
				<div class="dropdown-menu shadow-sm" aria-labelledby="dropdownMenu2">
				  <button class="dropdown-item" type="button" [routerLink]="['/editar-doctor',usuario.id]" [appAccess]="['DOCTOR']"><i class="fas fa-user-edit"></i> Editar Perfil</button>
				  <button class="dropdown-item" type="button"  (click)="editarHorario()"[appAccess]="['DOCTOR']" > <i class="fas fa-clock"></i> Configurar Horario</button>
				</div>
			  </div>
		</div>
		<button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
			data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
<!-- OTRO MENU -->
<div *ngIf="isNavbarCollapsed" class="collapse navbar-collapse show hidden-sm-up color4" id="navbarsDefault">
	<ul class="navbar-nav mr-auto hiddeSubMenu">
		<li [appAccess]="['ADMIN','DOCTOR']" class="nav-item" ngbDropdown>
			<a class="nav-link navbarMenu active color1" (click)="showCentros = !showCentros"><img
					src="./assets/icon/Mehr-Software-17.png" class="menuIcons" />Centro
				Medico</a>
		</li>
		<!-- SUB MENU CENTROS MEDICOS -->
		<div *ngIf="showCentros" class="color1">
			<li [appAccess]="['ADMIN','DOCTOR']">
				<a (click)="closeMenu()" href="#" [routerLink]="['/especialidades']" class="nav-link subMenu">Especialidades
				</a>
			</li>
			<li [appAccess]="['ADMIN']">
				<a (click)="closeMenu()" [routerLink]="['/centros-medicos']" class="nav-link subMenu">Clinicas</a>
			</li>
			<li [appAccess]="['ADMIN']">
				<a (click)="closeMenu()" [routerLink]="['/tipo-precios',0]" class="nav-link subMenu">Precios</a>
			</li>
			<li [appAccess]="['ADMIN','DOCTOR']">
				<a (click)="closeMenu()" [routerLink]="['/servicios']" class="nav-link subMenu">Servicios</a>
			</li>
			<li [appAccess]="['ADMIN','DOCTOR']">
				<a (click)="closeMenu()" [routerLink]="['/gastos']" class="nav-link subMenu">Gastos</a>
			</li>
			<li [appAccess]="['ADMIN']">
				<a (click)="closeMenu()" [routerLink]="['/proveedores']" class="nav-link subMenu">Proveedores </a>
			</li>
			<li [appAccess]="['ADMIN','DOCTOR']">
				<a (click)="closeMenu()" [routerLink]="['/ingresos']" class="nav-link subMenu">Ingresos</a>
			</li>
			<li [appAccess]="['ADMIN','DOCTOR']">
				<a (click)="closeMenu()" [routerLink]="['/ventas']" class="nav-link subMenu">Ventas</a>
			</li>
			<li [appAccess]="['ADMIN','DOCTOR']">
				<a (click)="closeMenu()" [routerLink]="['/punto-venta']" class="nav-link subMenu">Punto Venta</a>
			</li>
			<li [appAccess]="['ADMIN','DOCTOR']">
				<a (click)="closeMenu()" [routerLink]="['/reportes']" class="nav-link subMenu">Reportes</a>
			</li>
			<li [appAccess]="['ADMIN']">
				<a (click)="closeMenu()" [routerLink]="['/usuarios']" class="nav-link subMenu">Usuarios</a>
			</li>
			<li [appAccess]="['ADMIN']">
				<a (click)="closeMenu()" [routerLink]="['/ingresos']" class="nav-link subMenu">Ingresos</a>
			</li>

			<li [appAccess]="['ADMIN']">
				<a (click)="closeMenu()" class="nav-link subMenu">Reportes </a>
			</li>
		</div>
		<!-- FIN SUB MENU CENTROS MEDICOS -->
		<li [appAccess]="['ADMIN']" class="nav-item active" ngbDropdown>
			<a (click)="closeMenu()" class="nav-link navbarMenu" [routerLink]="['/doctores']">Doctores</a>
		</li>
		<li [appAccess]="['ADMIN','DOCTOR']" class="nav-item active" ngbDropdown>
			<a (click)="closeMenu()" class="nav-link navbarMenu color3" [routerLink]="['/pacientes']"><img src="./assets/icon/Mehr-Software-19.png"
					class="menuIcons" />Pacientes</a>
		</li>
		<li [appAccess]="['ADMIN','DOCTOR']" class="nav-item active" ngbDropdown>
			<a (click)="closeMenu()" class="nav-link navbarMenu color4" [routerLink]="['/citas']"><img src="./assets/icon/Mehr-Software-20.png"
					class="menuIcons" />Citas</a>
		</li>
		<!-- MENU PACIENTE -->
		<li [appAccess]="['PACIENTE']" class="nav-item active" ngbDropdown>
			<a (click)="closeMenu()" [routerLink]="['/citas-paciente']"
				class="list-group-item list-group-item-action color1 group ">
				<img src="./assets/icon/mis-citas.png" class="menuIcons" /> Citas
			</a>
			<!-- <a class="nav-link navbarMenu" [routerLink]="['/citas-paciente']">Citas</a> -->
		</li>
		<li [appAccess]="['PACIENTE']" class="nav-item active" ngbDropdown>
			<a (click)="closeMenu()" class="list-group-item list-group-item-action color2 group ">
				<img src="./assets/icon/Mehr-Software-18.png" class="menuIcons" /> Mis doctores
			</a>
			<!-- <a class="nav-link navbarMenu" [routerLink]="['/mis-doctores']">Mis Doctores</a> -->
		</li>
		<li [appAccess]="['PACIENTE']" class="nav-item active" ngbDropdown>
			<a (click)="closeMenu()" [routerLink]="['/familiares']"
				class="list-group-item list-group-item-action color3 group ">
				<img src="./assets/icon/familiares.png" class="menuIcons" /> Familiares
			</a>
			<!-- <a class="nav-link navbarMenu" [routerLink]="['/familiares']">Familiares</a> -->
		</li>
		<li class="nav-item active " ngbDropdown>
			<a (click)="logout()" class="list-group-item list-group-item-action color5 group">
				<img src="./assets/icon/Mehr-Software-21.png" class="menuIcons" />Log out
			</a>
			<!-- <a class="nav-link navbarMenu" (click)="logout()">Log out</a> -->
		</li>
	</ul>
</div>
<app-seleccionar-centro-medico [(show)]="show_seleccionar_centro_medico" [showCancel]="true"
	(selected)="onSeleccionarCentroMedico($event)"></app-seleccionar-centro-medico>

<!-- <app-seleccionar-centro-medico [show]="show_seleccionar_centro_medico"
	(selected)="onSeleccionarCentroMedico($event)"></app-seleccionar-centro-medico> -->

<!-- <a class="nav-link dropdown-toggle dropdown-toggle" id="id01" ngbDropdownToggle>Centro Medico</a>
<a class="nav-link dropdown-toggle dropdown-toggle" id="id02" ngbDropdownToggle>Doctores</a>
<a class="nav-link dropdown-toggle dropdown-toggle" id="id03" ngbDropdownToggle>Pacientes</a>
<a class="nav-link dropdown-toggle dropdown-toggle" id="id03" ngbDropdownToggle>Citas</a>
<a class="nav-link dropdown-toggle dropdown-toggle" id="id04" ngbDropdownToggle>Logout</a>
<div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
	<a class="dropdown-item" href="#">submenu1</a>
	<a class="dropdown-item" href="#">submenu2</a>
	<a class="dropdown-item" href="#">submenu3</a> </div>-->
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		Brand
	</a>

	<button class="navbar-toggler" type="button" (click)="toggleNavbar()">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="collapse navbar-collapse show" [ngClass]="{ 'show': navbarOpen }" >
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Item 1</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="#">Item 2</a>
			</li>
		</ul>
	</div>
</nav>

 -->


<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light {{pagina}}">
	<div class="collapse navbar-collapse ">
		<i class="fas fa-bars fa-lg"></i>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

	<div class="collapse navbar-collapse">
		<img
			src="./assets/logo/Mehr-Software-16.png"
			class="logoMenu"
			alt="Sample image"
		/>
	</div>
	<div>
	<ul class="navbar-nav ml-auto nav-flex-icons">
		<li class="nav-item avatar dropdown" dropdown>
			<a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
				<img src="./assets/icon/Mehr-Software-34.png4" alt=""
					class="img-fluid rounded-circle z-depth-0"></a>
			<div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
				<a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
				<a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
			</div>
		</li>
	</ul>
	</div> -->
<!-- <div class="collapse navbar-collapse" >
		<i class="fas fa-user fa-2x"></i>


		<a class="align-middle"		>Daniel Martinez</a>
	</div>
</nav> -->