.navbar{
    background-color: #019eb6 !important;
    color: white;
}

.logoMenu{
    height: 10% !important;
    width: 10% !important;
    padding: 0% !important;
}
.logoUser{
    height: 40px !important;
    width: 40px !important;
    padding: 0% !important;
}

.iconNavBar{
    height: 10px;
    width: 10px;
}
