.navbar{
    background-color: #019eb6 !important;
    color: white;
    height: 60px;
}

.logoMenu{
    height: 10% !important;
    width: 10% !important;
    padding: 0% !important;
}

.iconNavBar{
    height: 10px;
    width: 10px;
}