<div class="p-1" [ngClass]="{ 'custom-modal':true, 'd-none': !show}">
    <!--button type="button" *ngIf="idOrganizacion" (click)="dismissModal()">Cerrar</button -->
    <div class="">
        <div class="p-2">
            <h4 class="mb-2">Seleccione un doctor</h4>
            <div class="">
                <div class=" mb-2">
                    <label>Clinica:</label>
                    <select (change)="showEspecialidad()" name="centro_medico"
                        [(ngModel)]="doctor_search.eq.id_centro_medico" class="form-control custom-select">
                        <option value="" selected="selected">Seleccione</option>
                        <option *ngFor="let centro_medico of centros_medicos" [value]="centro_medico.id">
                            {{centro_medico.nombre|titlecase}}</option>
                    </select>
                </div>
                <div *ngIf="show_especialidad" class="">
                    <label>Especialidad:</label>
                    <select (change)="search()" name="especialidad" [(ngModel)]="doctor_search.eq.id_especialidad"
                        class="form-control custom-select">
                        <!-- <option value="" selected="selected">Seleccione</option> -->
                        <option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
                            {{especialidad.nombre|titlecase}}</option>
                    </select>
                </div>
            </div>
            <!-- <div>
			<input class="form-control" type="text" placeholder="Buscar..." id="searchCentroMedico" (keyup)="onKeyPressed($event)">
        </div> -->
            <!-- <div>
            selec
			<input class="form-control" type="text" placeholder="Buscar..." id="searchCentroMedico" (keyup)="onKeyPressed($event)">
        </div> -->
       
        
            <ul class="list-group p-0 mt-2" *ngIf="selected_doctor == null">
                <li type="button" class="p-0" (click)="seleccionarDoctor(doctor)" *ngFor="let doctor of doctores"
                    class="list-group-item text-left">
                    <td class="p-0">
                        <img class="m-0" *ngIf="doctor.id_imagen " width="50px" height="50px"
                            [src]="rest.urlBase+'/imagen.php?id='+usuario.id_imagen">
                        <img class="m-0" *ngIf="doctor.id_imagen==null " width="50px" height="50px"
                            src="/assets/icon/Mehr-Software-18.png">
                        {{doctor.nombre}}
                    </td>
                </li>
                <div class="list-group-item text-center" *ngIf="doctores.length == 0 && buscado==true">
                    <div> Doctor no disponible en esta clinica</div>
                </div>
            </ul>
       
            <!-- doctor seleccionado -->
            <ul class="list-group p-0 mt-2" *ngIf="selected_doctor != null">
                <li type="button" class="p-0" class="list-group-item text-left">
                    <td class="p-0">
                        <img class="m-0" *ngIf="selected.id_imagen" width="50px" height="50px"
                            [src]="rest.urlBase+'/imagen.php?id='+usuario.id_imagen">
                        <img class="m-0" *ngIf="selected.id_imagen==null" width="50px" height="50px"
                            src="/assets/icon/Mehr-Software-18.png">
                        {{selected_doctor.nombre}}
                    </td>
                </li>
                <div class="list-group-item text-center" *ngIf="doctores.length == 0 && buscado==true">
                    <div> Doctor no disponible en esta clinica</div>
                </div>
            </ul> 
                  <!-- lista de servicios del doctor  -->
        <div *ngIf="selected_doctor != null" class="mt-2">
            <label>Servicios:</label>
            <select  class="form-control custom-select">
                <option *ngFor="let doctor_servicio of doctor_servicios" [value]="doctor_servicio" (click)="seleccionarServicioDoctor(doctor_servicio)">
                    {{doctor_servicio.nombre}}</option>
            </select>
        </div>
            <!-- servicio seleccionado -->
            <ul class="list-group p-0 mt-2" *ngIf="selected_servicio != null && selected_doctor !=null">
                <li type="button" class="p-0" class="list-group-item text-left">
                    <td class="p-0">
                        {{selected_servicio.nombre}}
                    </td>
                </li>
                <div class="list-group-item text-center" *ngIf="doctores.length == 0 && buscado==true">
                    <div> No hay servicios disponibles</div>
                </div>
            </ul>
            <div class="mt-2" *ngIf="selected_servicio != null">
                <button class="btn btn-secondary btn-md" (click)="seleccionarDoctorNuevaCita()">Siguiente</button>
            </div>
            
        </div>
    </div>
</div>