<app-header></app-header>

<div class="container">
	<form>
		<div lines="full" class="list ion-no-margin ion-no-padding">

			<div *ngIf="usuario.id_imagen">
				<img [src]="rest.urlBase+'/imagen.php?id='+usuario.id_imagen">
			</div>

			<div class="item">
				<input type="file" (change)="uploadImage($event)" name="image">
			</div>

			<div class="item">
				<label position="stacked">Nombre<ion-text color="danger">*</ion-text></label>
				<input required type="text" name="especialidad" [(ngModel)]="doctor.nombre">
			</div>

			<div class="item">
				<label position="stacked">Telefono<ion-text color="danger">*</ion-text></label>
				<input required type="text"	name="telefono" [(ngModel)]="doctor.telefono">
			</div>

			<div class="item">
				<label position="stacked">Correo Electrónico<ion-text color="danger">*</ion-text></label>
				<input required type="text"	name="correo_electronico" [(ngModel)]="doctor.correo_electronico">
			</div>

			<div class="item">
				<label position="stacked">Especialidad<ion-text color="danger">*</ion-text></label>
				<input required type="text"	name="especialidad" [(ngModel)]="doctor.especialidad">
			</div>

			<div class="item">
				<label position="stacked">Usuario</label>
				<input type="text" name="usuario" [(ngModel)]="usuario.usuario">
			</div>

			<div class="item">
				<label position="stacked">Contraseña<ion-text color="danger"></ion-text></label>
				<input type="text" name="contrasena" [(ngModel)]="usuario.contrasena">
			</div>

		</div>
		<app-loading [is_loading]="is_loading"></app-loading>
		<div class="ion-padding">
			<button expand="block" type="submit" class="ion-no-margin" (click)="agregar()" [disabled]="is_loading">Registrarse</button>
		</div>
	</form>
</div class="container">
