
	<div class="card p-3">

		<div class="">

			<div class="p-0">
				<div class=" mb-3 d-flex justify-content-between flex-wrap">
					<div>
						<h4>{{this.paciente?'EDITAR	':'AGREGAR'}} FAMILIAR</h4>
					</div>
					<div>

						<button type="button" expand="block" type="submit" class="btn btn-primary btn-sm"
							(click)="guardarPaciente()"
							[disabled]="is_loading">Guardar</button>

					</div>
				</div>
			</div>

			<form>
				<label position="stacked">Imagen<span color="danger">*</span></label>
				<div *ngIf="paciente.id_imagen">
					<img [src]="this.rest.urlBase+'/imagen.php?id='+paciente.id_imagen">
				</div>
				<div class="form-group">
					<input type="file" (change)="uploadImage($event)" name="image">
				</div>
				<div class="form-row">
					
					<div class="form-group col-md-6 ">
						<label position="stacked">Nombre<span color="danger">*</span></label>
						<input required type="text" class="form-control" name="nombre" [(ngModel)]="paciente.nombre">
					</div>
					<div class="form-group col-md-6 ">
						<label position="stacked">Apellidos<span color="danger">*</span></label>
						<input required type="text" class="form-control" name="apellidos"
							[(ngModel)]="paciente.apellidos">
					</div>
					<div class="form-group col-md-6 ">
						<label position="stacked">Sexo<span color="danger">*</span></label>
						<input required type="text" class="form-control" name="sexo" [(ngModel)]="paciente.sexo">
					</div>
					<div class="form-group col-md-6 ">
						<label position="stacked">Fecha de nacimiento<span color="danger">*</span></label>
						<!--input required type="text" name="fecha_nacimiento" [(ngModel)]="paciente.fecha_nacimiento"></input-->
						<input type="date" displayFormat="YYYY-MM-DD" class="form-control" name="fecha_nacimiento"
							[(ngModel)]="paciente.fecha_nacimiento">
					</div>

					<div class="form-group col-md-6 ">
						<label position="stacked">Telefono<span color="danger">*</span></label>
						<input required type="text" class="form-control" name="telefono_casa"
							[(ngModel)]="paciente.telefono">
					</div>
				</div>




			</form>
		</div>

	</div>
