<div class="card p-3">
	<div class="container">
		<h4 class="mb-3 mt-3">CENTROS MEDICOS</h4>
		<div class="mb-3">
			<button type="button" class="btn btn-primary btn-md" [routerLink]="['/agregar-centro-medico']">
				Agregar Clinica
			</button>
		</div>
		<div>
			<div class="input-group mb-3">
				<input type="text" [(ngModel)]="centro_medico_search.lk.nombre" class="form-control">
				<div class="input-group-append">
					<button class="btn btn btn-primary" type="button" id="button-addon1" (click)="search()">Buscar</button>
				</div>
			</div>
		</div>
		<table class="basica">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="is_loading">
					<td colspan="2">
						<app-loading [is_loading]="is_loading"></app-loading>
					</td>
				</tr>
				<tr *ngFor="let centro_medico of centros_medicos">
					<td>
						<img *ngIf="centro_medico.id_imagen"
							[src]="this.rest.urlBase+'/imagen.php?id='+centro_medico.id_imagen" class="image_icon">
						<img *ngIf="!centro_medico.id_imagen" src="/assets/hospital_icon.png" class="image_icon">
						{{centro_medico.nombre}}
					</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm m-1"
							[routerLink]="['/editar-centro-medico',centro_medico.id]">Editar</button>
						<button type="button" class="btn btn-primary btn-sm m-1"
							[routerLink]="['/servicios',centro_medico.id]">Servicios</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
			<app-paginacion [path]="'/centros-medicos'" [pages]="pages" [totalPages]="totalPages"
				[currentPage]="currentPage"></app-paginacion>
		</div>
	</div>
</div>