<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2">
				<div class="card p-3">
					<h1>Centros Medicos</h1>
					<app-loading [display]="is_loading"></app-loading>
					<td>
						<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/agregar-centro-medico']">
							Agregar Clinica
						</button>
					</td>
					<table class="basica">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let centro_medico of centros_medicos">
								<td>
									<img *ngIf="centro_medico.id_imagen" [src]="this.rest.urlBase+'/imagen.php?id='+centro_medico.id_imagen" class="image_icon">
									<img *ngIf="!centro_medico.id_imagen" src="/assets/hospital_icon.png" class="image_icon">
									{{centro_medico.nombre}}
								</td>
								<td>
									<button type="button" class="btn btn-primary btn-sm mr-2" [routerLink]="['/editar-centro-medico',centro_medico.id]">Editar</button>
									<button type="button" class="btn btn-primary btn-sm mr-2" [routerLink]="['/servicios',centro_medico.id]">Servicios</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>
