<app-header title="Consultas"></app-header>

<div class="container">
    <td>
      <button type="button small" >Agregar Consulta</button>
    </td>
    <div class="card">
        <div class="card"-header>
          <div class="card title">Nombre Usuario</div>
          <div class="card subtitle">Nombre</div>

        </div>

        <div class="card"-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </div>
      </div>
</div>
