<div class="card p-3">
   </div>

<full-calendar
	#calendar
	[header]="calendarOptions.header"
	[plugins]="calendarPlugins"
	defaultView="timeGridWeek"
	deepChangeDetection="true"
	(dateClick)="dateClick($event)"
    ></full-calendar>
<!--
[eventSources]="eventSources"
defaultView="timeGridDay"
[plugins]="calendarPlugins"
	(eventRender)="eventRender($event)"

	[events]="calendarEvents"
	[eventSources]="eventSources"
	(eventRender)="eventRender($event)"
	[weekends]="false"
	[allDaySlot]="false"
	timeZone="UTC"
	contentHeight="auto"
	minTime="07:00:00"
	maxTime="20:00:00"
	defaultView="timeGridDay"
[{'title':'paciente jodido','date':'2020-01-19'},{'title':'paciente jodido','date':'2020-01-17'},{'title':'paciente jodido','date':'2020-01-16'},{'title':'paciente jodido','date':'2020-01-15'},{'title':'paciente jodido','date':'2020-01-15'},{'title':'paciente jodido','date':'2020-01-14'},{'title':'paciente jodido','date':'2020-01-14'},{'title':'paciente jodido','date':'2020-01-14'},{'title':'paciente jodido','date':'2020-01-13'},{'title':'paciente jodido','date':'2020-01-13'},{'title':'paciente jodido','date':'2020-01-13'},{'title':'paciente jodido','date':'2020-01-13'},{'title':'paciente jodido','date':'2020-01-13'},{'title':'paciente jodido','date':'2020-01-10'},{'title':'paciente jodido','date':'2020-01-09'},{'title':'paciente jodido','date':'2020-01-08'},{'title':'paciente jodido','date':'2019-12-27'},{'title':'paciente jodido','date':'2019-12-27'},{'title':'paciente jodido','date':'2019-12-05'},{'title':'paciente jodido','date':'2019-11-30'}]"
-->

