<app-header title="Agregar Producto"></app-header>

<div class="container">
    <form>
        <div lines="full" class="list ion-no-margin ion-no-padding">

          <div class="form-group">
            <label position="stacked">Nombre<span color="danger">*</span></label>
            <input required type="text" name="nombre" [(ngModel)]="producto.nombre">
          </div>

          <div class="form-group">
            <label position="stacked">Tipo<span color="danger">*</span></label>
            <input required type="text"	name="tipo" [(ngModel)]="producto.tipo">
          </div>

          <div class="form-group">
            <label position="stacked">Caducidad<span color="danger">*</span></label>
            <input required type="text"	name="caducidad" [(ngModel)]="producto.caducidad">
          </div>

        </div>
        <app-loading *ngIf="is_loading"></app-loading>
        <div class="ion-padding">
          <button type="button" expand="block" type="submit" class="ion-no-margin"  [disabled]="is_loading">Registrarse</button>
        </div>
      </form>
</div>
