<app-header>
  <ion-toolbar>
      <button type="button"s slot="start">
          <ion-back-button></ion-back-button>
        </buttons>
    <h1>agregar-producto</h1>
  </ion-toolbar>
</app-header>

<div class="container">
    <form>
        <div lines="full" class="list ion-no-margin ion-no-padding">

          <div class="form-group">
            <ion-label position="stacked">Nombre<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" name="nombre" [(ngModel)]="producto.nombre"></ion-input>
          </div>

          <div class="form-group">
            <ion-label position="stacked">Tipo<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text"	name="tipo" [(ngModel)]="producto.tipo"></ion-input>
          </div>

          <div class="form-group">
            <ion-label position="stacked">Caducidad<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text"	name="caducidad" [(ngModel)]="producto.caducidad"></ion-input>
          </div>

        </div>
        <app-loading *ngIf="is_loading"></app-loading>
        <div class="ion-padding">
          <button type="button" expand="block" type="submit" class="ion-no-margin"  [disabled]="is_loading">Registrarse</button>
        </div>
      </form>
</div>
