<!-- NAVBAR -->
<div class="page">
  <header>
    <app-header title="Especialidades" [pagina]="'jjj'"></app-header>
  </header>
  <!-- FIN NAVBAR -->
  <div>
    <div class="page_content">
      <!-- MENU -->
      <div class="pt-2 flex-wrap justify-content-start">
        <app-menu></app-menu>
      </div>
      <!-- FIN MENU -->
      <!-- CONTENIDO -->
      <main class="p-2">
        <div class="card p-3">
          <h1>Inventario</h1>
          <div class="container">
            <div class="list">
              <div class="list-header">
                <label>Resources</label>
              </div>
              <div class="form-group" [routerLink]="['/requisiciones']">
          
                <span class="oi" data-glyph="contacts" title="contacts" aria-hidden="true"></span>
                <label>Requisicion</label>
              </div>
              <div class="form-group" [routerLink]="['/agregar-producto']">
                <span class="oi" data-glyph="md-calendar" title="contacts" aria-hidden="true"></span>
                <label>Agregar Producto</label>
              </div>
              <div class="form-group" [routerLink]="['/proveedores']">
                <span class="oi" data-glyph="medkit" title="contacts" aria-hidden="true"></span>
                <label>proveedores</label>
              </div>
            </div>
          </div>

        </div>
      </main>
      <!-- FIN CONTENIDO -->
    </div>
  </div>
</div>
