<div class="card p-3">
	<div class="container">

		<div class="p-0 mt-3">
			<div class="mb-3 d-flex justify-content-between flex-wrap">
				<div >
					<h4>INGRESOS</h4>
				</div>
				<div>
					<button type="button" class="btn btn-primary btn-sm" (click)="showAddIngreso=true;" size="small">Agregar
						Ingreso</button>
				</div>
			</div>
		</div>
		<div class="mb-2">
			<div class="input-group ">
				<input type="text" [(ngModel)]="ingreso_search.lk.nota" class="form-control">
				<div class="input-group-append">
					<button class="btn btn-sm btn-primary" type="button" id="button-addon1" (click)="search()">Buscar</button>
				</div>
			</div>
		</div>

		<div class="card">
		<table class="basica">
			<thead>
				<tr>
					<th>id</th>
					<th>Monto</th>
					<th>Nota</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="ingresos.length==0 && !is_loading" class="text-center">
					<td colspan="4">No se encontraron registros</td>
				</tr>
				<tr *ngIf="is_loading">
					<td colspan="2">
						<app-loading [is_loading]="is_loading"></app-loading>
					</td>
				</tr>
				<tr *ngFor="let ingreso of ingresos">
					<td>{{ingreso.id}}</td>
					<td >{{ingreso.monto | currency: '$'}}</td>
					<td>{{ingreso.nota}}</td>
				</tr>
			</tbody>
		</table>
	</div>
		<div>
			<app-paginacion [path]="'/ingresos'" [pages]="pages" [totalPages]="totalPages"
				[currentPage]="currentPage"></app-paginacion>
		</div>
	</div>
	<app-ingreso [show]="showAddIngreso" (onClose)="ingresoClosed()"></app-ingreso>
</div>
