<div class="container card p-3">
	<h4 class="mb-3">Distribucion</h4>
	<div class="container p-3">
		<div class="row p-3">
				<button title="agregar distribucion" class="btn btn-primary" [routerLink]="['/agregar-distribucion']">Agregar Distribucion</button>
		</div>

		<div class="d-flex flex-row">
			<!-- div class="mt-3 mb-3 form-group">
				<label class="">Id</label>
				<input type="number" name="id" [(ngModel)]="distribucion_search.eq.id" class="form-control">
			</div>

			< div class="mt-3 mb-3 form-group">
				<label class="">Centro Medico Solicitante</label>
				<select name="id_centro_medico_solicitante" [(ngModel)]="distribucion_search.eq.id_centro_medico_solicitante" class="form-control">
					<option *ngFor="let c of centro_medico_list" [value]="c.id">{{c.nombre}}</option>
				</select>
			</div>
			<div class="mt-3 mb-3 form-group">
				<label class="">Estatus</label>
				<select name="estatus" [(ngModel)]="distribucion_search.lk.estatus" class="form-control">
					<option value="PENDIENTE">PENDIENTE</option>
					<option value="EN_TRANSITO">EN_TRANSITO</option>
					<option value="RECIBIDO">RECIBIDO</option>
					<option value="CANCELADO">CANCELADO</option>
				</select>
			</div>

			<div class="mt-3 mb-3 form-group">
				<label class="">Id_usuario_recibio</label>
				<select name="id_usuario_recibio" [(ngModel)]="distribucion_search.eq.id_usuario_recibio" class="form-control">

					<option *ngFor="let c of usuario_list" [value]="c.id">{{c.usuario}}</option>
				</select>
			</div>

			<div class="mt-3 mb-3 form-group">
				<label class="">Id_usuario_envio</label>
				<select name="id_usuario_envio" [(ngModel)]="distribucion_search.eq.id_usuario_envio" class="form-control">
					<option *ngFor="let c of usuario_list" [value]="c.id">{{c.usuario}}</option>
				</select>
			</div>

			<div class="mt-3 mb-3 form-group">
				<label class="">Guia</label>
				<input type="text" name="guia" [(ngModel)]="distribucion_search.lk.guia" class="form-control">

			</div>
			<div class="mt-3 mb-3 form-group">
				<label class="">Paqueteria</label>
				<input type="text" name="paqueteria" [(ngModel)]="distribucion_search.lk.paqueteria" class="form-control">

			</div>
			<div class="mt-3 mb-3 form-group">
				<label class="">Id_centro_medico_distribuidor</label>
				<select name="id_centro_medico_distribuidor" [(ngModel)]="distribucion_search.eq.id_centro_medico_distribuidor" class="form-control">
					<option *ngFor="let c of centro_medico_list" [value]="c.id">{{c.nombre}}</option>
				</select>
			</div>

			<div class="d-flex align-self-end justify-content-center p-2">
				<button type="button" class="btn btn-primary" (click)="search()">Buscar</button>
			</div>
		</div-->
	</div>
	<div>
		<table class="basica">
			<thead>
				<tr>
					<th><b>Id</b></th>
					<th><b>Centro solicitante</b></th>
					<th><b>Estatus</b></th>
					<th><b>Guia</b></th>
					<th><b>Centro distribuidor</b></th>
				</tr>
			</thead>
			<tbody>
				<tr  *ngFor="let distribucion of distribucion_list">
					<td><a [routerLink]="['/agregar-distribucion',distribucion.distribucion.id]">{{distribucion.distribucion.id}}</a></td>
					<td>{{distribucion.distribucion.id_centro_medico_solicitante ? centros_medicos[ distribucion.distribucion.id_centro_medico_solicitante ].nombre: ''}} {{distribucion.distribucion.id_centro_medico_solicitante}}</td>
					<td>{{distribucion.distribucion.estatus}}</td>
					<td>{{distribucion.distribucion.guia}}</td>
					<td>{{distribucion.distribucion.id_centro_medico_distribuidor ? centros_medicos[ distribucion.distribucion.id_centro_medico_distribuidor ].nombre : ''}} {{distribucion.distribucion.id_centro_medico_distribuidor}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<app-paginacion [path]="'/distribucion'" [pages]="pages" [totalPages]="totalPages" [currentPage]="currentPage"></app-paginacion>
</div>
