<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2">
				<div class="card p-3">
					<h5>PRODUCTOS Y SERVICIOS</h5>
					<app-loading [display]="is_loading"></app-loading>
					<td>
					<button type="button"  class="btn btn-primary btn-sm" slot="start" size="small" [routerLink]="['/agregar-producto']">Agregar producto</button>
					</td>
					<table class="basica">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let servicio of servicios">
								<td>{{servicio.servicio.nombre}}</td>
								<!-- 	" -->
								<td>
									<button type="button" size="btn btn-primary btn-sm" class="btn btn-primary btn-sm mr-2" [routerLink]="['/editar-producto',servicio.servicio.id]">
										Editar
									</button>
									<button type="button" size="btn btn-primary btn-sm" class="btn btn-primary btn-sm mr-2" [routerLink]="['/editar-precios',servicio.servicio.id]">
										Editar Precio
									</button>
									<button type="button" size="btn btn-primary btn-sm" class="btn btn-primary btn-sm mr-2" [routerLink]="['/inventario']">
										Inventario
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>


