<div class="card p-3">
	<div class="container">
		<h4 class="mb-3 mt-3">PRODUCTOS Y SERVICIOS</h4>
		<td>
			<button type="button" class="btn btn-primary btn-sm" slot="start" size="small"
				[routerLink]="['/agregar-producto']">Agregar producto</button>
		</td>
		<table class="basica">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let servicio of servicios">
					<td>{{servicio.servicio.nombre}}</td>
					<!-- 	" -->
					<td>
						<button type="button" class="btn btn-primary btn-sm m-1"
							[routerLink]="['/editar-producto',servicio.servicio.id]">
							Editar
						</button>
						<button type="button" class="btn btn-primary btn-sm m-1"
							[routerLink]="['/editar-precios',servicio.servicio.id]">
							Editar Precio
						</button>
						<button type="button" class="btn btn-primary btn-sm m-1" [routerLink]="['/inventario']">
							Inventario
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>