<div class="card p-3 no-print" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Imprimit Ticket Abono</h5>
    <form>
      <div class="form-group">
        <label position="stacked">Abono<span color="danger">*</span></label>
        <input required type="text" class="form-control" name="id" [(ngModel)]="vent.id">
      </div>
    </form>
    <p class="card-text">Desea imprimir?</p>
    <!-- <a class="btn text-light mr-3 btn-secondary" (click)="reload()">Cancelar</a> -->
    <a class="btn text-light ml-3 btn-primary" type="submit" (click)="buscar()">Aceptar</a>

  </div>
</div>

<div *ngIf="venta" class="bgColor print ticket p-0 m-0">
  <div class="row justify-content-center ">
    <div class="col-md-6 text-center mt-2 mb-2">
      <img *ngIf="centro_medico.id_imagen" src="../assets/logo/Mehr-Software-08.png" class="image_icon ticket-imagen">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-9 text-center">
      <div>
        <a>{{centro_medico.direccion}},&nbsp;{{centro_medico.codigo_postal}},&nbsp;{{centro_medico.ciudad}},&nbsp;{{centro_medico.estado}}</a>
      </div>
      <div><a>Teléfono: {{centro_medico.telefono}}</a></div>
      <div><a>RFC: {{centro_medico.rfc}}</a></div>
    </div>
  </div>
  <div class="row justify-content-center">
      <div class="text-center">
          <h4 class="mb-3 mt-3 centered">ABONOS</h4>
        </div>
  </div>
  
  <div class="row justify-content-left">
    <div class="col-7">
      <div> <a>Cliente: {{venta.cliente}}</a></div>
      <div *ngIf="usuario">
        <a>Le atendio: {{usuario.nombre}} </a>
      </div>
      <div><a>Fecha y Hora: {{todayDate | date:'short'}}</a></div>
    </div>
  </div>
  <div class="mt-2">
    <table class="table">
      <thead>
        <tr>
          <th>Venta</th>
          <th>Adeudo</th>
          <th>Abono</th>
          <th>N.Adeudo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detalle_venta of detalle_ventas">
          <td>Folio: {{detalle_venta.id}}</td>
          <td>{{detalle_venta.total}}</td>
          <td>{{pago.total}}</td>
          <td>{{venta.pendiente}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-end">
    <div class="col-2 text-right pb-2">

      <div><a>SUBTOTAL:</a></div>
      <div><a>IVA:</a></div>
      <div><a>TOTAL:</a></div>
      <div><a>Efectivo:</a></div>
      <div><a>Pendiente:</a></div>

    </div>
    <div class="col-2 text-right pb-2">

      <div><a>{{venta.subtotal}}</a></div>
      <div><a>{{venta.iva}}</a></div>
      <div><a>{{venta.total}}</a></div>
      <div><a>{{venta.efectivo_desc}}</a></div>
      <div><a>{{venta.pendiente}}</a></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <div><a>{{centro_medico.saludo_ticket}}</a></div>
      <div><a>:^)</a></div>
    </div>

  </div>

</div>