<div class="card p-3 no-print" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Imprimit Ticket Abono</h5>
            <form>
            <div class="form-group">
                <label position="stacked">Abono<span color="danger">*</span></label>
                <input required type="text" class="form-control" name="monto" [(ngModel)]="ingreso.monto">
            </div>
        </form>
            <p class="card-text">Desea imprimir?</p>
            
            <a class="btn text-light mr-3 btn-secondary" (click)="reload()">Cancelar</a>
            <a class="btn text-light ml-3 btn-primary" type="submit" (click)="guardar()">Aceptar</a>
         
        </div>
    </div>

<div class="container print bloqueAbono" [ngClass]="{'d-block':show,'app-modal':true}">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6  align-self-center">
            <div class="card">
                    <h4 class="mb-3 mt-3 centered">ABONO</h4>
                    <a>Cliente: Daniel</a>
                    <a>Le atendio: Daniel</a>
                    <a>Fecha: dd/mm/aaaa</a>
                    <a>Hora: 01:18 PM</a>

                    <div class="mt-2">
                            <table class="table">
                                    <thead >
                                      <tr >
                                        <th >Venta</th>
                                        <th >Adeudo</th>
                                        <th >Abono</th>
                                        <th >No. Adeudo</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr >
                                        <td >1</td>
                                        <td>Mark</td> 
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                      </tr>
                                      <tr>
                                          <td>Total</td>
                                      </tr>
                                    </tbody>
                                  </table>
                    </div>
                    
                        <a> SUBTOTAL: 1</a>
                        <a>IVA: 2</a>
                        <a>TOTAL:</a>
                        <a>Efectivo:</a>
                        <a>Pendiente: </a>

                        <a>Gracias por su preferencia!</a>
                        <a></a>
                    
            </div>
        </div>

    </div>
</div>