.menuIcons{

    vertical-align:middle;
    margin:0;
  }

  .icons{
    padding:0;
  }

  .fix{
   display: inline;
  
  }

  .options{
    text-align: center !important;
    margin: 0 !important;
    width: 20%;
  }
  