<div class="card p-3">
	<div class="">
		<div class="p-0 ">
			<div class="d-flex justify-content-between flex-wrap">
				<div class="mb-3">
					<h4>DOCTORES</h4>
				</div>
				<div class="mb-3">
					<button type="button" class="btn btn-primary btn-sm" [routerLink]="['/agregar-doctor']">
						Agregar Doctor
					</button>
				</div>
			</div>
		</div>
		<div>
			<div class="input-group mb-2">
				<input type="text" placeholder="Buscar" [(ngModel)]="doctor_search.lk.nombre" class="form-control">
				<div class="input-group-append">
					<!-- <button class="btn p-0 btn-light border" type="button" id="button-addon1"
						(click)="search()">
					<span class="">
						<i class="">
							<img src="./assets/icon/options/buscar.png" height="34px" width="45px"
								class="menuIcons icons" />
						</i>
					</span>
				</button> -->
					<button class="btn btn-sm btn-primary" type="button" id="button-addon1"
						(click)="search()"><svg aria-hidden="true" width="20px" height="20px" focusable="false" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg></button>
				</div>
			</div>
		</div>
		<div class="card">
			<table class="basica">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Especialidad</th>
						<th>Telefono</th>
						<th >Acciones </th>
					</tr>
				</thead>
				<tbody >
					<tr *ngFor="let doctor of doctores">
						<td>{{doctor.nombre}}</td>
						<td>{{doctor.especialidad}}</td>
						<td>{{doctor.telefono}}</td>
						<!-- <td><button type="button" size="small" [routerLink]="['/doctores',doctor.id, 'configurar-horario']">Ver perfil</button> -->
						<!-- <td><button type="button" size="small"  [routerLink]="['/doctor',doctor.id]">Editar</button><button type="button" size="small" color="secondary">Citas</button> -->
						<td class="p-0 options">
							<!-- <div class="d-flex flex-wrap p-1">
							<button type="button" class="btn btn-primary btn-sm"
								[routerLink]="['/doctores',doctor.id, 'ver-doctor']"
								[appAccess]="['Paciente']">Ver</button> -->
								<!-- agendar Cita -->
							<!-- <div type="button" *ngIf="currentUser" class=" mr-1 icons"
								(click)="seleccionarPacienteNuevaCitaCon(doctor)"
								[appAccess]="['Recepcionista','admin','doctor']"><img
									src="./assets/icon/agendar-cita.png" class="menuIcons" /></div> -->
									<!-- citas -->
							<!-- <div type="button" *ngIf="currentUser" class="mr-1 icons"
								[routerLink]="['/citas','doctor',doctor.id]"
								[appAccess]="['Recepcionista','admin','doctor']"><img
								src="./assets/icon/citas.png" class="menuIcons" /></div> -->
								<!-- editar doctor -->
							<!-- <div type="button" *ngIf="currentUser" class=" mr-1 icons"
								[routerLink]="['/editar-doctor',doctor.id]"
								[appAccess]="['Recepcionista','admin','doctor']">Editar doctor</div> -->
								<!-- editar horario -->
							<!-- <div type="button" *ngIf="currentUser" class=" mr-1 icons"
								(click)="editarHorario(doctor)" [appAccess]="['Recepcionista','admin']">Editar
								Horario</div>
							</div> -->

							<button class=" p-0 btn btn-light  m-1 border " (click)="seleccionarPacienteNuevaCitaCon(doctor)"
							data-toggle="tooltip" title="Agendar cita">
								<span class="">
									<i class="">
										<img src="./assets/icon/options/agendar-cita.png" height="35px" width="35px"
											class="menuIcons icons" />
									</i>
								</span>
							</button>
							<button class=" p-0 btn btn-light  m-1 border " [routerLink]="['/citas']"
							[queryParams]="{id_doctor: doctor.id}"
							[appAccess]="['Recepcionista','admin','doctor']"
							data-toggle="tooltip" title="Ver citas">
								<span class="">
									<i class="">
										<img src="./assets/icon/options/citas.png" height="35px" width="35px"
											class="menuIcons icons" />
									</i>
								</span>
							</button>
							<button class=" p-0 btn btn-light  m-1 border " [routerLink]="['/editar-doctor',doctor.id]" [appAccess]="['Recepcionista','admin','doctor']"
							data-toggle="tooltip" title="Editar Doctor">
								<span class="">
									<i class="">
										<img src="./assets/icon/options/editar-doctor.png" height="35px" width="35px"
											class="menuIcons icons" />
									</i>
								</span>
							</button>
							<button class=" p-0 btn btn-light  m-1 border " (click)="editarHorario(doctor)" [appAccess]="['Recepcionista','admin']"
							data-toggle="tooltip" title="Editar horario">
								<span class="">
									<i class="">
										<img src="./assets/icon/options/editar-horario.png" height="35px" width="35px"
											class="menuIcons icons" />
									</i>
								</span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


			<div class="inline-block">
				<app-paginacion [path]="'/doctores'" [pages]="pages" [totalPages]="totalPages"
					[currentPage]="currentPage"></app-paginacion>
			</div>

	</div>

</div>
<app-seleccionar-centro-medico [show]="show_seleccionar_centro_medico" [showCancel]="true"
	(selected)="onSeleccionarCentroMedico($event)"></app-seleccionar-centro-medico>
<app-seleccionar-paciente [show]="show_seleccionar_paciente" [showCancel]="true"
	(selected)="onSeleccionarPacienteNuevaCita($event)"></app-seleccionar-paciente>
