.app-modal
{
	display: none;
	position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 499; background-color: rgba( 0,0,0,0.6); pointer-events: all;
}

.app-modal > div
{
	color: #464646;
	background-color: white;
	min-width: 270px;
	min-height: 50px;
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 500;
	font-size: 16px;
}


