<!-- NAVBAR -->
<div class="page">
    <header>
        <app-header title="Especialidades" [pagina]="'jjj'"></app-header>
    </header>
    <!-- FIN NAVBAR -->
    <div>
        <div class="page_content">
            <!-- MENU -->
            <div class="pt-2 flex-wrap justify-content-start">
                <app-menu></app-menu>
            </div>
            <!-- FIN MENU -->
            <!-- CONTENIDO -->
            <main class="p-2">
                <div class="card p-3">


                    <div class="container">
                        <h4 class="mb-3 mt-3">AGREGAR REQUISICION</h4>
                        <app-loading [display]="is_loading"></app-loading>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                                <label position="stacked">Proveedor<span color="danger">*</span></label>
                                <input type="text" class="form-control" name="nombre" [(ngModel)]="requisicion.id_proveedor">
                            </div>
                            <div class="form-group col-md-6">
                                <label position="stacked">Tiempo de entrega<span color="danger">*</span></label>
                                <input type="text" class="form-control" name="telefono"
                                    [(ngModel)]="requisicion.tiempo_entrega">
                            </div>
                            <div class="form-group col-md-6">
                                <label position="stacked">Nota<span color="danger">*</span></label>
                                <input type="text" class="form-control" name="rfc" [(ngModel)]="requisicion.nota">
                            </div>
                            <div class="form-group col-md-6">
                                <label position="stacked">Costo de flete<span color="danger">*</span></label>
                                <input type="text" class="form-control" name="direccion"
                                    [(ngModel)]="requisicion.flete">
                            </div>
                            <div class="form-group col-md-6">
                                <label position="stacked">Costo de importacion<span color="danger">*</span></label>
                                <input type="text" class="form-control" name="contacto"
                                    [(ngModel)]="requisicion.importacion">
                            </div>
                            <div class="form-group col-md-6">
                                <label position="stacked">No. Pedimento<span color="danger">*</span></label>
                                <input type="text" class="form-control" name="cuenta_bancaria"
                                    [(ngModel)]="requisicion.pedimento">
                            </div>
                        </div>
                        
                            <div class="form-row">
                                
                            <div class="form-group col-md-6">
                                <label position="stacked">Articulo<span color="danger">*</span></label>
                      
                                    <input data-live-search="true" type="text" (keyup)="buscar($event)" [(ngModel)]="busqueda" class="form-control">
                                    <option *ngFor="let servicio of search_servicios">
                                    {{servicio.nombre}} <button type="button" class="btn btn-primary" (click)="agregarServicio(servicio)">+</button>
                                    </option>
                            </div>
                            <div class="form-group col-md-6">
                                <label position="stacked">Cantidad<span color="danger">*</span></label>
                                <input type="text" class="form-control" name="nota">
                            </div>
                            <div class="form-group col-md-6">
                                <label position="stacked">Costo<span color="danger">*</span></label>
                                <input type="text" class="form-control" name="nota" >
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" expand="block" type="submit" class="btn btn-primary btn-sm mt-3" (click)="guardar()"
                                    [disabled]="is_loading">Agregar</button>
                            </div>
                        </div>
<!-- 
<div class="form-row" *ngIf="articulos!=null">
    <table class="basica">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let articulo of articulos">
                <td>{{articulo.nombre}}</td>
            </tr>
        </tbody>
    </table>
</div> -->
                        <div class="">
                            <button type="button" expand="block" type="submit" class="btn btn-primary btn-sm"
                                (click)="guardar()" [disabled]="is_loading">Guardar</button>
                        </div>
                    </div>
                </div>
            </main>
            <!-- FIN CONTENIDO -->
        </div>
    </div>
</div>