<div class="card p-3">
    <div class="">

        <div class="p-0 mt-3">
            <div class=" mb-3 d-flex justify-content-between flex-wrap">
                <div>
                    <h4>{{this.requisicion.id ? 'EDITAR':'AGREGAR'}} REQUISICIÓN</h4>
                </div>
                <div>
                    <button type="button" expand="block" type="submit" class="btn btn-primary btn-sm"
                        (click)="guardar()"
                        [disabled]="is_loading">{{this.requisicion.id ? 'Guardar':'Agregar'}}</button>
                </div>
            </div>
        </div>
        <div class=" d-flex flex-column justify-content-between flex-wrap">
            <div>
                <!-- (click)="clearBusqueda()" -->
                <div class=" form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" (change)="distribuidor=!distribuidor" (onclick)="clean()">&nbsp;
                    <label class="form-check-label">Sucursal Distribuidora</label>
                </div>
            </div>
        </div>
        <!-- <app-loading [display]="is_loading"></app-loading> -->
        <div class="card">
            <div class="row p-0 m-0">
                <div class="col-sm-12 col-md-8 p-0">
                    <div class="row  p-2 ">

                        <div class="col-6" *ngIf="distribuidor==false">
                            <label position="stacked">Proveedor<span color="danger">*</span></label>
                            <select class="form-control" name="foo" [(ngModel)]="requisicion.id_proveedor">
                                <option [value]="null" selected>Seleccione un proveedor</option>
                                <option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                                    {{proveedor.nombre}}</option>
                            </select>
                        </div>
                        <div class="col-6" *ngIf="distribuidor==true">
                            <label position="stacked">Sucursal<span color="danger">*</span></label>
                            <select class="form-control" name="foo" [(ngModel)]="requisicion.id_centro_medico_distribuidor">
                                <option [value]="null" selected>Seleccione una sucursal</option>
                                <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                                    {{sucursal.nombre}}</option>
                            </select>
                        </div>
                        <!-- <div class="col-6">
                            <label position="stacked"  >Fecha de entrega<span color="danger">*</span></label>
                            <input type="date" class="form-control" name="telefono"
                                [(ngModel)]="requisicion.tiempo_entrega">
                        </div> -->
                        <div class="col-6">
                            <label position="stacked" class="">Costo de flete<span color="danger">*</span></label>
                            <input placeholder="Costo de flete" min=0 type="number" class="form-control"
                                name="direccion" [(ngModel)]="requisicion.flete">
                        </div>
                        <div class="col-6">
                            <label position="stacked" class="mt-2">Costo de importacion<span color="danger">*</span></label>
                            <input placeholder="Costo de importacion" min=0 type="number" class="form-control"
                                name="contacto" [(ngModel)]="requisicion.importacion">
                        </div>
                        <div class="col-6">
                            <label position="stacked" class="mt-2">No. Pedimento<span color="danger">*</span></label>
                            <input placeholder="No. pedimento" type="text" class="form-control" name="cuenta_bancaria"
                                [(ngModel)]="requisicion.pedimento">
                        </div>

                        <div class=" col-12">
                            <label position="stacked" class="mt-2">Nota<span color="danger">*</span></label>
                            <textarea placeholder="Nota" type="text" class="form-control" name="rfc"
                                [(ngModel)]="requisicion.nota"></textarea>
                        </div>


                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <table class="basica">
                        <thead>
                            <tr >
                                <th colspan="2">TOTALES</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr >
                                <td class="text-left">
                                    <label for="">Subtotal:</label>
                                </td>
                                <td class="text-right w-25">
                                    <label for="">{{requisicion.subtotal | currency}}</label>
                                </td>
                            </tr>
                            <tr >
                                <td class="text-left">
                                    <label for="">Flete:</label>
                                </td>
                                <td class="text-right w-25">
                                    <label for="">     {{requisicion.flete | currency}}</label>
                                </td>
                            </tr>
                            <tr >
                                <td class="text-left">
                                    <label for="">Importación:</label>
                                </td>
                                <td class="text-right w-25">
                                    <label >{{requisicion.importacion | currency}}</label>
                                </td>
                            </tr>
                            <tr >
                                <td class="text-left">
                                    <label for="">Total:</label>
                                </td>
                                <td class="text-right w-25">
                                    <label >{{requisicion.total | currency}}</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- proveedor -->
        <div *ngIf="distribuidor==false" class="card mt-2 ">
            <h5 class="p-2">*AGREGAR PRODUCTOS</h5>
            <div class="form-row p-2">

                <div class="form-group col-md-6">
                    <div class="dropdown">
                        <div class="">
                            <label position="stacked">Articulo<span color="danger">*</span></label>
                            <input type="text" (keyup)="buscar($event)" [(ngModel)]="busqueda" class="form-control">
                        </div>
                        <div *ngIf="search_servicios.length && busqueda != ''" class="dropdown-menu show w-100">
                            <div *ngFor="let servicio of search_servicios;let i=index" (click)="add(servicio)">
                                <div *ngIf="i>0" class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    {{servicio.nombre}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-1 ">
                <table class="basica p-1 m-0">
                    <thead>
                        <tr>
                            <th>Articulo</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sd of detalles_requisicion">
                            <td>
                                <label>{{servicios_by_id[ sd.detalle_requisicion.id_servicio ].nombre | titlecase}}</label>
                            </td>
                            <td>
                                <input type="number" (change)="incrementar(sd)"
                                    [(ngModel)]="sd.detalle_requisicion.cantidad" step="1" min=0>
                            </td>
                            <td>
                                <input type="number" (change)="incrementar(sd)"
                                    [(ngModel)]="sd.detalle_requisicion.costo" step="1" min=0>
                            </td>
                            <td>
                                <button class="btn btn-secondary btn-sm">x</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- sucursal -->
        <div *ngIf="distribuidor==true" class="card mt-2 ">
            <h5 class="p-2">*AGREGAR PRODUCTOS</h5>
            <div class="form-row p-2">

                <div class="form-group col-md-6">
                    <div class="dropdown">
                        <div class="">
                            <label position="stacked">Articulo<span color="danger">*</span></label>
                            <input type="text" (keyup)="buscarInventariosSucursal($event)" [(ngModel)]="busqueda" class="form-control">
                        </div>
                        <div *ngIf="search_servicios.length && busqueda != ''" class="dropdown-menu show w-100">
                            <div *ngFor="let servicio of search_servicios;let i=index" (click)="addServicioSucursal(servicio)">
                                <div *ngIf="i>0" class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    {{servicio.nombre}} -> Cantidad: <label style="color:green;" for="">{{servicio.cantidad}}</label> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-1 ">
                <table class="basica p-1 m-0">
                    <thead>
                        <tr>
                            <th>Articulo</th>
                            <th>Cantidad</th>
                            <th>Costo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sd of detalles_requisicion">
                            <td>
                                <label>{{sd.servicio.nombre | titlecase}}</label>
                            </td>
                            <td>
                                <input type="number" (change)="incrementar(sd)"
                                    [(ngModel)]="sd.detalle_requisicion.cantidad" step="1" min=0>
                            </td>
                            <td>
                                <input type="number" (change)="incrementar(sd)"
                                    [(ngModel)]="sd.detalle_requisicion.costo" step="1" min=0>
                            </td>
                            <td>
                                <button class="btn btn-secondary btn-sm">x</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>
</div>
