<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2">
				<div class="card p-3">
					<h1>Configurar Preguntas</h1>
					<app-loading [display]="is_loading"></app-loading>
					<table class="basica ">
						<thead>
							<tr>
								<th>Pregunta</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let p of preguntasEspecialidad;let i = index">
								<td>{{p.pregunta_historia_clinica.pregunta}} </td>
								<td>
									<button type="button" size="small" (click)="deleteEspecialidadPregunta(p.especialidad_pregunta)">
										Remover</button>
									<button type="button" size="small" *ngIf="i>0"
										(click)="mover(p.especialidad_pregunta,'mover_arriba')">Mover Arriba</button>
									<button type="button" size="small" *ngIf="i<preguntasEspecialidad.length-1"
										(click)="mover(p.especialidad_pregunta,'mover_abajo')">Mover Abajo</button>
								</td>
					
							</tr>
						</tbody>
					</table>
					<div>
						<input input type="text">
					</div>
					
					<div class="container">
						<div *ngFor="let p of busquedaPreguntas">
							{{p.pregunta}} <button type="button" size="small" (click)="agregarEspecialidadPregunta(p)">
								<span class="oi" data-glyph="add-circle" title="icon add-circle" aria-hidden="true"></span>
							</button>
						</div>
					</div>
				</div>
			</main>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>