.bloqueAbono{
    display: none;
}

@media print {
  #sidebar-wrapper,.menuButtons,header,.no-print{
      display: none !important;
  }
  .print{
  display: block !important;
  }
  
}

th{
    width: 40px;
    max-width: 40px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #000;
}
td{
    width: 40px;
    max-width: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.bgColor{
    background-color: white;
}
.ticket {
    width: 500px;
    max-width: 500px;
}
.fullwidth{
    padding: 0;

}

table.basica,.basica td,.basica th{
	border-collapse: collapse;
    border-color: #edf2f6;
    border-style: solid;
    font-size: 1.2em;
}