<div class="bgColor print ticket w-100 p-3" *ngIf="_datosVenta!=null">
  <div>
	  <h4 class="mb-3 mt-3 text-center">{{_datosVenta.centro_medico.nombre}}</h4>
  </div>
  <div class="row justify-content-center">
	<div>
      <img [src]="this.rest.urlBase+'/imagen.php?id='+_datosVenta.centro_medico.id_imagen" class="image_icon ticket-imagen">
	</div>
    <div class="col-8 text-center">
      <div>{{_datosVenta.centro_medico.direccion}}</div>
      <div>{{_datosVenta.centro_medico.telefono}}</div>
      <div>{{_datosVenta.centro_medico.rfc}}</div>
    </div>
  </div>
  <div class="row justify-content-left">
    <div class="col-6">
		<div>Cliente: <b>{{_datosVenta.venta.cliente}}</b></div>
      <div>
		  Le atendio: <b>{{_datosVenta.atendio.nombre}}</b>
      </div>
	  <div>Fecha y Hora: <b>{{_datosVenta.pagos[0].tiempo_creacion | date:'dd/MM/yyyy, h:mm a'}} {{_datosVenta.pagos[0].tiempo_creacion}}</b></div>
    </div>
  </div>
  <div class="mt-3">
    <table class="table">
      <tbody>
        <tr *ngFor="let dv of _datosVenta.detalles">
          <td>{{dv.servicio.nombre}}</td>
          <td class="text-center">{{dv.detalle_venta.cantidad}}x{{dv.detalle_venta.precio | currency}}</td>
		  <td class="text-right">{{dv.detalle_venta.total | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-end">
	  <table class="w-100 text-right">
		  <tr>
			  <td>Total</td><td>{{_datosVenta.pagos[0].total | currency }}</td>
		  </tr>
		  <tr>
			  <td>Efectivo</td><td>{{_datosVenta.pagos[0].efectivo| currency }}</td>
		  </tr>
		  <tr>
			  <td><b>Cambio</b></td><td><b>{{_datosVenta.pagos[0].cambio | currency }}</b></td>
		  </tr>
	  </table>
  </div>
  <hr>
  <div>
	  <b># transaccion {{_datosVenta.venta.id}}</b>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 text-center">
      <div>{{_datosVenta.centro_medico.saludo_ticket}}</div>
    </div>
  </div>
</div>
