<div class="card p-3">
	<div class="container">
		<h4 class="mb-3 mt-3">GASTOS</h4>

		<!--div d-flex>
							<div class="form-group">
								<label position="stacked">Referencia<span color="danger">*</span></label>
								<input required type="text" class="form-control" name="nombre" [(ngModel)]="gasto_centro_medico.referencia">
							</div>

							<div class="form-group">
								<label>Centro Medico</label>
								<select value="brown" okText="Okay" class="form-control" cancelText="Dismiss" [(ngModel)]="gasto_centro_medico.id_centro_medico">
									<option *ngFor="let centro of centros_medicos" [value]="centro.id">{{centro.nombre}}</option>
								</select>
							</div>

							<div class="form-group">
								<label>Tipo Gasto</label>
								<select value="brown" okText="Okay" class="form-control" cancelText="Dismiss" [(ngModel)]="gasto_centro_medico.id_tipo_gasto">
									<option *ngFor="let tipo of tiposGasto" [value]="tipo.id">{{tipo.nombre}}</option>
								</select>
							</div>
					</div-->

		<td>
			<button type="button" class="btn btn-primary" [routerLink]="['/agregar-gasto']" size="small">Agregar
				gasto</button>
		</td>
		<table class="basica">
			<thead>
				<tr>
					<th>id</th>
					<th>descripcion</th>
					<th>Usuario</th>
					<th>Monto</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="gastos.length==0 && !is_loading" class="text-center">
					<td colspan="4">No se encontraron registros</td>
				</tr>
				<tr *ngIf="is_loading">
					<td colspan="2">
						<app-loading [is_loading]="is_loading"></app-loading>
					</td>
				</tr>

				<tr *ngFor="let g of gastos">
					<td>{{g.gasto_centro_medico.id}}</td>
					<td>{{tipo_gastos_dic[ g.gasto_centro_medico.id_tipo_gasto ].nombre}}</td>
					<td>{{g.usuario.usuario}}</td>
					<td class="text-right">{{g.gasto_centro_medico.monto | currency: '$'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
