<div [ngClass]="{ 'custom-modal':true, 'd-none': !show}">
	<!--button type="button" *ngIf="idOrganizacion" (click)="dismissModal()">Cerrar</button -->
	<div class="p-2">
		<h4 class="mb-2">Seleccione un centro Medico</h4>
		<div>
			<input class="form-control" type="text" placeholder="Buscar..." id="searchCentroMedico" (keyup)="onKeyPressed($event)">
		</div>
		<ul class="list-group mt-2">
			<li *ngFor="let centro_medico of centros" class="list-group-item text-left"  (click)="seleccionarCentro(centro_medico)">
				{{centro_medico.nombre}}
			</li>
		</ul>
	</div>
</div>
