<app-header title="Agregar Organizacion"></app-header>

<div class="container">
      <form>
        <div lines="full" class="list ion-no-margin ion-no-padding">

          <div class="form-group">
            <label position="stacked">Nombre Organización<span color="danger">*</span></label>
            <input required type="text" name="nombre" [(ngModel)]="organizacion.nombre">
          </div>
        </div>

		<app-loading *ngIf="is_loading"></app-loading>

        <div class="ion-padding">
          <button type="button" expand="block" type="submit" class="ion-no-margin" (click)="agregar()" [disabled]="is_loading">Agregar</button>
        </div>
      </form>
</div>
