<app-header></app-header>
<h1>Seleccionar Doctor</h1>
<button type="button" (click)="dismissModal()">Cerrar</button>
<div class="container" fullscreen>
	<div class="list" *ngFor="let doctor of doctores">
		<div class="form-group" (click)="seleccionarDoctor(doctor)">
			<!-- ion-avatar slot="start">
				<ion-img src="./avatar-gollum.jpg"/>
				<ion-icon slot="start" name="home"></ion-icon>
			</ion-avatar-->
			<label>
				<h2>{{doctor.nombre}}</h2>
				<!--p>Sneaky little hobbitses</p-->
			</label>
		</div>
	</div>
</div>
