<div class="padre">
	<div class="card m-3 p-3 ">
		<div id="formContent">
			<div class="fadeIn first">
				<img
					src="http://danielzawadzki.com/codepen/01/icon.svg"
					id="icon"
					alt="User Icon"
					/>
			</div>
			<form #form="ngForm">
				<h3>Iniciar Sesión</h3>
				<input
					name="email"
					type="text"
					placeholder="your@email.com"
					[(ngModel)]="usuario"
					required
					/>
				<input
					name="password"
					type="password"
					placeholder="Password"
					[(ngModel)]="contrasena"
					(change)="doLoginKeyboard($event)"
					required
					/>
				<div>
					<button
						type="button" class="btn btn-primary"
									  size="large"
									  type="submit"
									  [disabled]="form.invalid"
									  expand="block"
									  (click)="doLogin()"
									  >
									  Acceder
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
