<div class="container-fluid">
<div class="row">
	<div class="card col-centered">
		<img class="card-img-top logo" src="../../../assets//logo/Mehr-Software-08.png" alt="Card image">
		<div class="card-body">
			<div id="formContent">
	
				<form #form="ngForm">
					<h3>Iniciar Sesión</h3>
					<input name="email" type="text" placeholder="your@email.com" [(ngModel)]="usuario" required />
					<input name="password" type="password" placeholder="Password" [(ngModel)]="contrasena"
						(change)="doLoginKeyboard($event)" required />
					<div>
						<button type="button" class="btn btn-primary" size="large" type="submit"
							[disabled]="form.invalid" expand="block" (click)="doLogin()">
							Acceder
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</div>