<app-header title="Iniciar Sesion"></app-header>

<div class="container">
	<form #form="ngForm">
		<h3>Iniciar Sesión</h3>
		<input name="email" type="text" placeholder="your@email.com"	[(ngModel)]="usuario" required>
		<input name="password" type="password" placeholder="Password" [(ngModel)]="contrasena" (change)="doLoginKeyboard($event)" required>
		<div>
			<button type="button" size="large" type="submit" [disabled]="form.invalid" expand="block" (click)="doLogin()">Acceder</button>
		</div>
	</form>
</div>
