<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2">
				<div class="card p-3">
					<h1>Agregar Gasto</h1>
					<app-loading [display]="is_loading"></app-loading>
					<div class="container">
					
						<app-loading [display]="is_loading"></app-loading>
						<div lines="full" class="">
r
							<div class="form-group">
								<label position="stacked">Cantidad<span color="danger">*</span></label>
								<input required type="text" class="form-control" name="nombre" [(ngModel)]="gasto_centro_medico.monto">
							</div>
					
							<div class="form-group">
								<label position="stacked">Referencia<span color="danger">*</span></label>
								<input required type="text" class="form-control" name="nombre" [(ngModel)]="gasto_centro_medico.referencia">
							</div>
					
							<div class="form-group">
								<label>Centro Medico</label>
								<select value="brown" okText="Okay" class="form-control" cancelText="Dismiss" [(ngModel)]="gasto_centro_medico.id_centro_medico">
									<option *ngFor="let centro of centros_medicos" value="tipo.id">{{centro.nombre}}</option>
								</select>
							</div>
					
							<div class="form-group">
								<label>Tipo Gasto</label>
								<select value="brown" okText="Okay" class="form-control" cancelText="Dismiss" [(ngModel)]="gasto_centro_medico.id_tipo_gasto">
									<option *ngFor="let tipo of tiposGasto" value="tipo.id">{{tipo.nombre}}</option>
								</select>
							</div>
					
						</div>
					
						<app-loading *ngIf="is_loading"></app-loading>
					
						<div class="ion-padding">
							<button type="button" expand="block" type="submit" class="btn btn-primary btn-sm" (click)="guardar()"
								[disabled]="is_loading">Guardar</button>
						</div>
					</div>
				</div>
			</main>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>
