<div class="card p-3">
    <div class="container">
        <h4 class="mb-3 mt-3">PROVEEDORES</h4>
        <div class="mb-3">
            <button [routerLink]="['/agregar-proveedor']" type="button" class="btn btn-sm btn-primary">Agregar
                Proveedor</button>
        </div>
        <div>
			<div class="input-group mb-3">
				<input type="text" [(ngModel)]="proveedor_search.lk.nombre" class="form-control">
				<div class="input-group-append">
					<button class="btn btn btn-primary" type="button" id="button-addon1" (click)="search()">Buscar</button>
				</div>
			</div>
		</div>
        <table class="basica">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proveedor of proveedores">
                    <td>{{proveedor.nombre}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary m-1"
                            [routerLink]="['/editar-proveedor',proveedor.id]">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
			<app-paginacion [path]="'/proveedores'" [pages]="pages" [totalPages]="totalPages"
				[currentPage]="currentPage"></app-paginacion>
		</div>
    </div>
</div>