<div class="card p-3">
    <div class="container">
        <div class="p-0 mt-3">
			<div class="mb-3 d-flex justify-content-between flex-wrap">
				<div >
					<h4>PROVEEDORES</h4>
				</div>
				<div >
					<button [routerLink]="['/agregar-proveedor']" type="button" class="btn btn-sm btn-primary">Agregar
                        Proveedor</button>
				</div>
			</div>
        </div>
        
        <div class="mb-2">
			<div class="input-group">
				<input type="text" [(ngModel)]="proveedor_search.lk.nombre" class="form-control">
				<div class="input-group-append">
					<button class="btn btn-sm btn-primary" type="button" id="button-addon1" (click)="search()">Buscar</button>
				</div>
			</div>
        </div>
        
        <div class="card">
        <table class="basica">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proveedor of proveedores">
                    <td>{{proveedor.nombre}}</td>
                    <td class="p-0">
                        <button class="btn btn-light p-0 m-1 border "
                        [routerLink]="['/editar-proveedor',proveedor.id]">
                            <span class="">
                                <i class="">
                                    <img src="../../../assets/icon/options/editar.png" height="35px" width="35px"
                                        class="menuIcons icons" />
                                </i>
                            </span>
                        </button>
                        <!-- <button class="btn btn-sm btn-primary m-1"
                            [routerLink]="['/editar-proveedor',proveedor.id]">Editar</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

        <div>
			<app-paginacion [path]="'/proveedores'" [pages]="pages" [totalPages]="totalPages"
				[currentPage]="currentPage"></app-paginacion>
        </div>
        
    </div>
</div>