
<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2 d-flex flex-column" style="height:100%">
				<div class="">
					<h5>CONFIGURAR HORARIO</h5>
					<div class="text-right mt-3 mb-3">
						<button type="button" class="btn btn-primary" (click)="onGuardarHorarioClick()">Guardar</button>
					</div>
				</div>
				<div class="card p-3 flex-grow">
					<app-loading [display]="is_loading"></app-loading>
					<full-calendar
					  #calendar
					  [header]="header"
					  [columnHeaderText]="columnHeaderText"
					  [firstDay]="1"
					  [events]="calendarEvents"
					  [editable]="true"
					  (eventResize)="eventResize($event)"
					  (eventDrop)="eventDrop($event)"
					  (dateClick)="dateClick($event)"
					  (eventClick)="eventClick($event)"
					  defaultView="timeGridWeek"
					  [plugins]="calendarPlugins"
					  [weekends]="true"
					></full-calendar>
				</div>
			</main>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>
