<div [ngClass]="{ 'custom-modal':true, 'd-none': !show}">
    <!--button type="button" *ngIf="idOrganizacion" (click)="dismissModal()">Cerrar</button -->
    <div>
        <h2 class="pb-2">Salir del sistema?</h2>
        <div class="grid">
        <div class="row">
            <div class="col">
            <button class="btn btn-primary btn-sm" (click)="logout()">Confirmar</button>
            </div>
            <div class="col">
            <button class="btn btn-primary btn-sm" >Cancelar</button>
            </div>
        </div>
        </div>
    </div>
</div>