<ion-header>
  <ion-toolbar>
    <ion-title>Perfil Doctor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-toolbar>
    <ion-buttons slot="start"></ion-buttons>
    <ion-button slot="start" size="default" (click)="presentAlertConfirm()">Confirmar cita</ion-button>  
 </ion-toolbar>


  <full-calendar
  #calendar
  [header]="header"
  [columnHeaderText]="columnHeaderText"
  [firstDay]="1"
  [editable]="true"
  [eventSources]="eventSources"
  (eventResize)="eventResize($event)"
  (eventDrop)="eventDrop($event)"
  (dateClick)="dateClick($event)"
  (eventClick)="eventClick($event)"
  defaultView="timeGridWeek"
  [plugins]="calendarPlugins"
  [weekends]="true"
  [height]="650"
></full-calendar>
</ion-content>
