<!-- NAVBAR -->
<div class="page">
    <header>
        <app-header title="Especialidades" [pagina]="'jjj'"></app-header>
    </header>
    <!-- FIN NAVBAR -->
    <div>
        <div class="page_content">
            <!-- MENU -->
            <div class="pt-2 flex-wrap justify-content-start">
                <app-menu></app-menu>
            </div>
            <!-- FIN MENU -->
            <!-- CONTENIDO -->
            <main class="p-2">
                <div class="card p-3">
                    <h1>Ventas</h1>
                    <!-- PEGAR CODIGO AQUI -->
                </div>
            </main>
            <!-- FIN CONTENIDO -->
        </div>e
    </div>
</div>
