<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2">
				<div class="card p-3">
					<h1>Editar Doctor</h1>
					<app-loading [display]="is_loading"></app-loading>
					<div class="container">
						<form>
							<div class="list" lines="full">
								<div *ngIf="usuario.id_imagen">
									<img [src]="this.rest.urlBase+'/imagen.php?id='+usuario.id_imagen">
								</div>

								<div class="form-group">
									<input type="file" (change)="uploadImage($event)" name="image">
								</div>

								<div class="form-group">
									<label position="stacked">Nombre<span color="danger">*</span></label>
									<input required type="text" name="Nombre" [(ngModel)]="doctor.nombre">
								</div>

								<div class="form-group">
									<label position="stacked">Telefono<span color="danger">*</span></label>
									<input required type="text" name="telefono" [(ngModel)]="doctor.telefono">
								</div>

								<!-- div class="form-group">
									<label position="stacked">Correo Electrónico<span color="danger">*</span></label>
									<input required type="text" name="correo_electronico" [(ngModel)]="doctor.correo_electronico">
								</div -->

								<div class="form-group">
									<label position="stacked">Especialidad<span color="danger">*</span></label>
									<input required type="text" name="especialidad" [(ngModel)]="doctor.especialidad">
								</div>

								<div class="form-group">
									<label position="stacked">Usuario</label>
									<input type="text" name="usuario" [(ngModel)]="usuario.usuario">
								</div>

								<div class="form-group">
									<label position="stacked">Contraseña<span color="danger"></span></label>
									<input type="text" name="contrasena" [(ngModel)]="usuario.contrasena">
								</div>
							</div>
							<app-loading *ngIf="is_loading"></app-loading>
							<div class="ion-padding">
								<button type="button" expand="block" type="submit" class="ion-no-margin" (click)="guardar()"
									[disabled]="is_loading">Guardar</button>
							</div>
						</form>
					</div>
				</div>
			</main>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>
