.headerColor{
    background-color: #0099CC;
    color: white;
}
.borderColor{    
    border: solid 1px white;

}
.colorCitaPendiente{
color: #ff8a80; 
border: solid 2px #f75a4c;
}
.colorCitaActiva{
    color: #b9f6ca; 
    border: solid 2px #62f58c;
}

.customColor1{
    background-color:   #2BBBAD;
}
.fontColor{
font-weight: 550;
}
.slide{
    display:inline-block;
}
.nowrap{
    width: 125px;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
