<div class="">
	<div class="container-fluid">
		<div class="row">
			<div class=" card col-sm-12 col-lg-5">
				<div class="row">



					<!--
					{{datosVenta.venta.factura_rfc}}
					<app-loading *ngIf="is_loading"></app-loading> -->


					<!-- <div class="form-row">
					<div [ngClass]="{'block':show_name_input,'col-7':true}">
						<label>Cliente</label>
						<input type="" [(ngModel)]="datosVenta.venta.cliente" (keyup)="buscarCliente($event)"
							class="form-control" [placeholder]="datosVenta.tipo_precio.nombre">
						<div *ngIf="search_usuario.length" class="dropdown-menu show w-100 no-selectable-text">
							<div class="dropdown-item search"><a [routerLink]="'/agregar-paciente'"
									class="d-block">Agregar
									Nuevo Usuario</a></div>
							<div *ngFor="let usuario of search_usuario" (click)="selectUsuario(usuario)">
								<div class="dropdown-item search">
									{{usuario.nombre|titlecase}} <i class="text-muted">
										{{usuario.usuario|uppercase}}</i>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<label>Tipo Cliente</label>
						<select class="form-control col" name="tipo_precio" [ngModel]="datosVenta.venta.id_tipo_precio"
							(change)="changeTipoPrecio($event.target.value)">
							<option *ngFor="let tipo_precio of tipo_precios" [value]="tipo_precio.id"
								[selected]="datosVenta.venta.id_tipo_precio==tipo_precio.id">
								{{tipo_precio.nombre |  uppercase}}
							</option>
						</select>
					</div>
					<div *ngIf="ventas.length>0">
						<label>Ventas Pendientes</label>
						<select class="form-control col" name="tipo_precio"
							(change)="cambiarVenta($event.target.value)">
							<option value="">Seleccionar</option>
							<option *ngFor="let venta of ventas" [value]="venta.id">{{venta.id}}
								{{ venta.cliente |  uppercase}}
							</option>
						</select>
					</div>
				</div> -->
					<table class="tittle">
						<thead>
							<tr>
								<th>PRODUCTOS Y SERVICIOS</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="dropdown">
										<div class=" row">

											<div class="col">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text" id="basic-addon1"><i
																class="fa fa-search"></i></span>
													</div>
													<input type="text" (keyup)="buscar($event)" id="busqueda"
														[(ngModel)]="busqueda" class="form-control"
														placeholder="Buscar Producto o Servicio...">
												</div>
											</div>
											<div *ngIf="search_loading">
												<div class="spinner-border text-primary" role="status">
													<span class="sr-only">Loading...</span>
												</div>
											</div>
										</div>
										<div *ngIf="search_servicios.length && busqueda != ''"
											class="dropdown-menu show w-100 no-selectable-text">
											<div *ngFor="let servicio of search_servicios;let i=index"
												(click)="agregarServicio(servicio)">
												<!--div *ngIf="i>0" class="dropdown-divider"></div -->
												<div class="dropdown-item search">
													{{servicio.nombre|uppercase}}
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- <label for="">PRODUCTOS Y SERVICIOS</label> -->

				</div>
				<div class="row">

				</div>
			</div>


			<div class=" card col-sm-12 col-lg-7">
				<div class="hidden-mobile">
					<div class="row">
						<table class="basica">
							<thead>
								<tr>
									<th>CLIENTE</th>
									<th>TIPO CLIENTE</th>
									<th>VENTAS PENDIENTES</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="" [(ngModel)]="datosVenta.venta.cliente"
											(keyup)="buscarCliente($event)" class="form-control"
											[placeholder]="datosVenta.tipo_precio.nombre">
										<div *ngIf="search_usuario.length"
											class="dropdown-menu show w-100 no-selectable-text">
											<div class="dropdown-item search"><a [routerLink]="'/agregar-paciente'"
													class="d-block">Agregar
													Nuevo Usuario</a></div>
											<div *ngFor="let usuario of search_usuario"
												(click)="selectUsuario(usuario)">
												<div class="dropdown-item search">
													{{usuario.nombre|titlecase}} <i class="text-muted">
														{{usuario.usuario|uppercase}}</i>
												</div>
											</div>
										</div>
									</td>
									<td>
										<select class="form-control col" name="tipo_precio"
											[ngModel]="datosVenta.venta.id_tipo_precio"
											(change)="changeTipoPrecio($event.target.value)">
											<option *ngFor="let tipo_precio of tipo_precios" [value]="tipo_precio.id"
												[selected]="datosVenta.venta.id_tipo_precio==tipo_precio.id">
												{{tipo_precio.nombre |  uppercase}}
											</option>
										</select>
									</td>
									<td>
										<select class="form-control col" name="tipo_precio"
											(change)="cambiarVenta($event.target.value)">
											<option value="">Seleccionar</option>
											<option *ngFor="let venta of ventas" [value]="venta.id">{{venta.id}}
												{{ venta.cliente |  uppercase}}
											</option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="row">
						<table class="basica">
							<thead>
								<tr>

									<th>CANTIDAD</th>
									<th></th>
									<th>SERVICIO</th>
									<th>PRECIO</th>

								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let sd of datosVenta.detalles">
									<td class="text-center">

										<button class="border icon-quanty increase" (click)="aumentar(sd)"><i
												class="fa fa-angle-up"></i></button>
										<div> <input type="text" class="quanty" [(ngModel)]="sd.detalle_venta.cantidad"></div>
								
										<button class="border icon-quanty decrease " (click)="disminuir(sd)"><i
												class="fa fa-angle-down "></i></button>
									</td>
									<td>
										<img *ngIf="sd.servicio.id_imagen" class="image_logo"
											[src]="rest.urlBase+'/imagen.php?id='+sd.servicio.id_imagen"
											[alt]="sd.servicio.nombre+' imagen'">
										<img *ngIf="!sd.servicio.id_imagen" class="image_logo" src="assets/product.png"
											[alt]="sd.servicio.nombre+' imagen'">
									</td>
									<td class="text-center">
										<label class="pl-2" for="">
											{{sd.servicio.nombre | titlecase}}</label> </td>
									<td class="text-center">{{sd.detalle_venta.precio | currency}} <button type="button"
											class="btn" (click)="eliminar(sd)"><i
												class="fa fa-times icon-danger"></i></button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<table class="data">
							<thead>
								<tr>
									<th class="text-center">SUBTOTAL:{{infoPago.subtotal | currency}}</th>
									<th class="text-left">IVA:{{infoPago.iva| currency}}</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="row">
						<table class="data">
							<tbody>
								<tr>
									<td class="text-center">
										SALDO PENDIENTE: {{infoPago.total_a_pagar | currency}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<table class="data">
							<thead>
								<tr>
									<th class="text-center">TOTAL DE VENTA: {{datosVenta.venta.total | currency }}</th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="row">
						<table class="data">
							<tbody>
								<tr>
									<td class="text-right">
										<div class="" *ngIf="datosVenta.venta.id">
											<button type="button" class="btn btn-primary btn-sm"
												(click)="cancelarVenta()">
												Cancelar Venta
											</button>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>

					<!-- <div class="col-md-2">
						<div>Iva:</div>
						<div class="font-weight-bold"></div>
					</div>

					<div class="col-md-2">
						<div>Total:</div>
						<div class="font-weight-bold">{{datosVenta.venta.total | currency }}</div>
					</div>
					<div class="col-md-2">
						<div>Pendiente:</div>
						<div class="font-weight-bold">{{datosVenta.venta.pendiente | currency}}</div>
					</div> -->
					<!-- <div class="form-row" *ngFor="let sd of datosVenta.detalles">
						<div class="image_logo col-3 " *ngIf="sd.servicio.id_imagen">
							<img class="image_logo" [src]="rest.urlBase+'/imagen.php?id='+sd.servicio.id_imagen"
								[alt]="sd.servicio.nombre+' imagen'">
						</div>
						<div class=" col-3 " *ngIf="!sd.servicio.id_imagen">
							<img class="image_logo" src="assets/product.png" [alt]="sd.servicio.nombre+' imagen'">
						</div>
						<label class="col-3 "></label>
						<label class="col-1 text-center ">{{sd.detalle_venta.cantidad}}</label>
						<label class="col-2 text-center "></label>
						<div class="col-3 text-right">
							<div class="btn-group" role="group">

							</div>
						</div>
					</div> -->


				</div>

				<!-- vista en dispositivos moviles -->
				<div class="mt-2 pt-2 hidden-desktop">
					<div class="row " *ngFor="let sd of datosVenta.detalles">
						<div class="container p-2 border">
							<div class="center">
								<div class="aling-center  image_logo_movil form-check-label"
									*ngIf="sd.servicio.id_imagen">
									<img class="image_logo_movil"
										[src]="rest.urlBase+'/imagen.php?id='+sd.servicio.id_imagen"
										[alt]="sd.servicio.nombre+' imagen'">
								</div>
								<div class="form-check-label" *ngIf="!sd.servicio.id_imagen">
									<img class="image_logo_movil" src="assets/product.png"
										[alt]="sd.servicio.nombre+' imagen'">
								</div>
							</div>
							<div>Servicio: {{sd.servicio.nombre | titlecase}}</div>
							<div>Cantidad: {{sd.detalle_venta.cantidad}}</div>
							<div>Precio: {{sd.detalle_venta.precio | currency}}</div>
							<div>Acciones:
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-primary border font-weight-bold"
										(click)="disminuir(sd)">-</button>
									<button type="button" class="btn btn-primary border font-weight-bold"
										(click)="aumentar(sd)">+</button>
									<button type="button" class="btn btn-primary border font-weight-bold"
										(click)="eliminar(sd)">x</button>
								</div>
							</div>
						</div>

						<!-- <div class="row">
						<div class="aling-center  image_logo_movil form-check-label" *ngIf="sd.servicio.id_imagen">
							<img class="image_logo_movil" [src]="rest.urlBase+'/imagen.php?id='+sd.servicio.id_imagen"
								[alt]="sd.servicio.nombre+' imagen'">
						</div>
						<div class="form-check-label" *ngIf="!sd.servicio.id_imagen">
							<img class="image_logo_movil" src="assets/product.png" [alt]="sd.servicio.nombre+' imagen'">
						</div>
					</div> -->
						<!-- <div class="row">
						<div class="col">

						</div>

					</div> -->


					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-venta">
		<div class="row p-0">
			<div class="p-0 col-lg-7 w-100">
				<button class="btn btn-warning btn-lg w-100">
					<strong *ngIf="datosVenta.venta.estatus !=='PAGADA' " style="font-size:2.2rem;">TOTAL:
						{{infoPago.total_a_pagar  | currency }} </strong>
					<strong *ngIf="datosVenta.venta.estatus == 'PAGADA'" style="font-size:2.2rem;">PAGADO </strong>
				</button>
			</div>
			<div class="p-0 col-lg-5 w-100">


				<button class="btn btn-primary h-100 btn-lg  w-100" (click)="guardarVenta()"
					[disabled]="show_creando_venta">Pagar</button>

				<!-- <div class="col p-0">
						<button type="button" class="btn btn-danger btn-lg  w-100" >Abonar</button>
					</div> -->

			</div>
		</div>
	</div>

</div>




<!-- anterior pago  -->
<!-- <footer class="card w-100">
	<div class="m-auto text-center" *ngIf="procesando_pago">
		<div class="spinner-border text-success" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<div class="row p-3">

		<div class="col-md-2">
			<div>Subtotal:</div>
			<div class="font-weight-bold">{{datosVenta.venta.subtotal| currency}}</div>
		</div>

		<div class="col-md-2">
			<div>Iva:</div>
			<div class="font-weight-bold">{{datosVenta.venta.iva| currency}}</div>
		</div>

		<div class="col-md-2">
			<div>Total:</div>
			<div class="font-weight-bold">{{datosVenta.venta.total | currency }}</div>
		</div>
		<div class="col-md-2">
			<div>Pendiente:</div>
			<div class="font-weight-bold">{{datosVenta.venta.pendiente | currency}}</div>
		</div>
		<div class="col-md-3 mt-3 mb-3" *ngIf="datosVenta.venta.id">
			<button type="button" class="btn btn-primary btn-lg" (click)="cancelarVenta()">
				Cancelar Venta
			</button>
		</div>
		<div class="col text-center">
			<button type="button" class="btn btn-primary btn-lg  w-100" (click)="guardarVenta()"
				[disabled]="show_creando_venta">Pagar</button>
		</div>
	</div>
</footer> -->


<app-modal [(show)]="show_modal_pago">
	<div class="p-3 m-3 border-box row">
		<div class="form-group col-md-6">
			<div class="row mb-2">
				<div class="col-6">
					<label class="col-form-label">Efectivo: </label>
				</div>
				<div class="col-6">
					<input type="number" class="form-control" name="efectivo" [(ngModel)]="pago.efectivo">
				</div>
			</div>

			<div class="row mb-2">
				<div class="col-6">
					<label class="col-form-label">Dolares: </label>
				</div>
				<div class="col-6">
					<input type="number" class="form-control" name="dolares" [(ngModel)]="pago.dolares">
				</div>
			</div>
			<div class="row mb-2">
				<div class="col-6">
					<label class="col-form-label">Tarjeta: </label>
				</div>
				<div class="col-6">
					<input type="number" class="form-control" name="cheques" [(ngModel)]="pago.tarjeta">
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="m-auto text-center" *ngIf="procesando_pago">
				<div class="spinner-border text-success" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>

			<div class="row">
				<label class="col-8">Total:</label>
				<label class="col-4 text-right">{{infoPago.total_a_pagar | currency }}</label>
			</div>
			<div class="row">
				<label class="col-8">Total en Dlls:</label>
				<label class="col-4 text-right">{{infoPago.total_a_pagar/pago.tipo_cambio_dolares | currency }}</label>
			</div>
			<div class="row">
				<label class="col-10">Cantidad a Pagar:</label>
				<label class="col-2 text-right">{{infoPago.cantidad_faltante}}</label>
			</div>
			<!--div class="row">
				{{ pago.efectivo }}
				{{ pago.dolares}}
				{{ pago.tipo_cambio_dolares}}
				{{ pago.dolares*pago.tipo_cambio_dolares}}
				{{ pago.tarjeta }}
				{{ pago.cheque | currency}}
				{{ pago.deposito | currency }}
				{{ pago.total | currency }}
			</div-->
			<div *ngIf="pago.dolares>0" class="row">
				<label class="col-8">:</label>
				<label class="col-4 text-right">{{pago.dolares*pago.tipo_cambio_dolares | currency}}</label>
			</div>

			<div *ngIf="debug" class="row">
				<label class="col-8">En Dlls:</label>
				<label class="col-4 text-right">{{pago.dolares*pago.tipo_cambio_dolares |currency}}</label>
			</div>
			<div>
			</div>
			<div class="row" *ngIf="pago.dolares>0">
				<label class="col-8">Cambio En Dlls:</label>
				<label class="col-4 text-right">
					{{pago.cambio_en_dolares|currency}}
				</label>
			</div>
			<div class="row">
				<label class="col-8">Cambio:</label>
				<label class="col-4 text-right">{{calcularCambio(pago)|currency}}</label>
				<!--
				<label class="col-4">
					{{ ((0+pago.efectivo
						+(pago.dolares*pago.tipo_cambio_dolares)
						+pago.tarjeta
						+pago.cheque
						+pago.deposito - pago.total )> 0 ?
						(
							0+pago.efectivo
							+(pago.dolares*pago.tipo_cambio_dolares)
							+pago.tarjeta
							+pago.cheque
							+pago.deposito
							- pago.total
						)
						: 0 ) | currency}}
				 </label>
				-->
			</div>
		</div>

		<div class="row w-100">
			<!--button type="button" class="btn btn-primary" [disabled]="procesando_pago || infoPago.cantidad_faltante > 0" (click)="pagarVenta()">Pagar</button-->
			<div class="col-md-6">
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Check me out</label>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" [(ngModel)]="facturar" id="facturar_input" class="form-check-input">
					<label class="form-check-label" for="facturar_input">Facturar</label>
				</div>
			</div>
		</div>
	</div>

	<div [ngClass]="{'d-none':!facturar}">
		<div class="p-3 m-3 border-box row">
			<div class="row w-100">
				<div class="col-md-12 form-group">
					<label>RFC</label>
					<input type="text" name="factura_rfc" [(ngModel)]="datosVenta.venta.factura_rfc"
						class="form-control" (keyup)="buscarRfc($event)" id="buscarRfc">
					<div *ngIf="search_rfc.length"
						class="dropdown-menu show w-100 no-selectable-text dropdown ml-3 mr-3">
						<div *ngFor="let usuario of search_rfc" (click)="selectRfc(usuario)">
							<div class="dropdown-item search">
								{{usuario.factura_rfc|uppercase}} <i class="text-muted">
									{{usuario.usuario|uppercase}}</i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row w-100">
				<div class="col-md-6 form-group">
					<label>Correo Electrónico</label>
					<input type="text" name="factura_correo_electronico"
						[(ngModel)]="datosVenta.venta.factura_correo_electronico" class="form-control">
				</div>
				<div class="col-md-6 form-group">
					<label>Uso CFDI</label>
					<select [(ngModel)]="datosVenta.venta.factura_uso_cfdi" class="form-control">
						<option value="G01" selected> G01 - Adquisición de mercancias</option>
						<option value="G03"> G03 - Gastos en general</option>
						<option value="D01"> D01 - Honorarios médicos, dentales y gastos hospitalarios.</option>
						<option value="D02"> D02 - Gastos médicos por incapacidad o discapacidad</option>
						<option value="P01"> P01 - Por definir</option>
						<option value="I02"> I02 - Mobilario y equipo de oficina por inversiones</option>
						<option value="I04"> I04 - Equipo de computo y accesorios</option>
						<option value="I06"> I06 - Comunicaciones telefónicas</option>
						<option value="I08"> I08 - Otra maquinaria y equipo</option>
						<option value="D03"> D03 - Gastos funerales.</option>
						<option value="D04"> D04 - Donativos.</option>
						<option value="I07"> I07 - Comunicaciones satelitales</option>
						<option value="I03"> I03 - Equipo de transporte</option>
						<option value="I01"> I01 - Construcciones</option>
						<option value="I05"> I05 - Dados, troqueles, moldes, matrices y herramental</option>
						<!--option value="D07"> D07 - Primas por seguros de gastos médicos.</option>
						<option value="D08"> D08 - Gastos de transportación escolar obligatoria.</option>
						<option value="D09"> D09 - Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones.</option>
						<option value="D10"> D10 - Pagos por servicios educativos (colegiaturas)</option>
						<option value="G02"> G02 - Devoluciones, descuentos o bonificaciones</option>
						<option value="D05"> D05 - Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación).</option>
						<option value="D06"> D06 - Aportaciones voluntarias al SAR.</option -->
					</select>
				</div>
			</div>
			<div class="row w-100">
				<div class="col-md-6 form-group">
					<label>Razón Social</label>
					<input type="text" name="factura_rason_social" [(ngModel)]="datosVenta.venta.factura_razon_social"
						class="form-control">
				</div>
				<div class="col-md-6 form-group">
					<label>Codigo Postal</label>
					<input type="text" name="factura_codigo_postal" [(ngModel)]="datosVenta.venta.factura_codigo_postal"
						class="form-control">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 text-left w-100">
			<button type="button" class="btn btn-primary m-3" (click)="show_modal_pago=false">
				<i class="fa fa-times mr-2" ></i>Cancelar</button>
		</div>
		<div class="col-md-6 text-right w-100">
			<button type="button" class="btn btn-primary m-3" [disabled]="procesando_pago"
				(click)="pagarVenta()"><i class="fa fa-credit-card mr-2"></i>
				Pagar</button>
		</div>
	</div>

</app-modal>