<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2">
				<div class="card p-3">
					<h5>Punto Venta</h5>
					<div class="container">
						<app-loading *ngIf="is_loading"></app-loading>

						<div [ngClass]="{'block':show_name_input}">
							<input type="">
						</div>

						<select [(ngModel)]="venta.tipo_precio">
							<option *ngFor="let tipo_precio of tipo_precios" [value]="tipo_precio.id">{{tipo_precio.nombre |  uppercase}}</option>
						</select>
						<div class="mt-3 mb-3">
							<input type="text" (keyup)="buscar($event)" [(ngModel)]="busqueda" class="form-control">
						</div>

						<div *ngIf="search_servicios.length" class="mb-3">
							<div *ngFor="let servicio of search_servicios">
								{{servicio.nombre}} <button type="button" class="btn btn-primary" (click)="agregarServicio(servicio)">+</button>
							</div>
						</div>

						<div *ngFor="let sd of detalle_servicios">
							<div *ngIf="sd.detalle_venta.cantidad>0">
								<label>{{sd.servicio.nombre | titlecase}}</label>
								<input type="number" [(ngModel)]="sd.detalle_venta.cantidad" step="1" min=0>
							</div>
						</div>
						<div>
							total {{total}}
							<button type="button" (click)="show_modal_pago=true">Pagar</button>
						</div>
					</div>
				</div>
			</main>
			<app-modal [show]="show_modal_pago">
				<div class="p-3 m-3 border-box">
					<div class="form-group row">
						<label class="col-form-label m-1">Efectivo: </label>
						<div class="m-1">
							<input type="text" class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-form-label m-1">Cheques: </label>
						<div class="m-1">
							<input type="text" class="form-control">
						</div>
					</div>

					<div>
						<button type="button" class="btn btn-primary">Pagar</button>
					</div>
				</div>
			</app-modal>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>
