/*.
  dropdown-menu {     background-color: #e7e7e7;  }
 * */

.dropdown-item.search
{
	min-height: 30px;
	line-height: 30px;
}

.dropdown-item.search:not(:first-child)
{
	border-top: 1px solid #eeeeee;
}

.image_logo{
	width: 100px;
	height: 100px;
}
.image_logo_movil{
	width: 60px;
	height: 60px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	  
}



@media only screen and (max-width: 700px) {
	.hidden-mobile{
	  display: none;
	}
  }
  
  @media only screen and (min-width: 700px) {
	.hidden-desktop{
	  display: none;
	}
  }
  .tableColor{
	background-color: #3684C1;
	color: white;
  }