<div class="card p-3">
	<div class="container">
		<h4 class="mb-3 mt-3 ">AGREGAR ESPECIALIDAD</h4>
		<app-loading [display]="is_loading"></app-loading>
		<form>
			<form>

				<div class="form-group">
					<label position="stacked">Nombre Especialidad<span color="danger">*</span></label>
					<input required type="text" class="form-control" name="nombre" [(ngModel)]="especialidad.nombre">
				</div>
				<div class="form-group">
					<label position="stacked">Abreviacion<span color="danger">*</span></label>
					<input required type="text" class="form-control" name="abreviacion"
						[(ngModel)]="especialidad.abreviacion">
				</div>
			</form>

		</form>
		<button type="button" expand="block" type="submit" class="btn btn-primary btn-sm" (click)="agregar()"
			[disabled]="is_loading">Agregar</button>
	</div>
</div>