<div *ngIf="display" style="position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 499; background-color: rgba( 0,0,0,0.6); pointer-events: all;">
	<div style="color: #46; background-color: white; border-radius: 5px; min-width: 270px; min-height: 50px; padding: 15px; text-align: center; overflow: hidden; position: fixed; top: 50%; left: 50%;transform: translate(-50%, -50%); z-index: 500; font-size: 16px;"> <div>
			<div class="spinner-border" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
</div>
