<div class="card p-3">
	<full-calendar 
	#calendar 
		[header]="calendarOptions.header"  
		[plugins]="calendarPlugins" 
		defaultView="timeGridWeek"
		locale="es"
		[slotLabelFormat]="slotLabelFormat"
		[buttonText]="buttons"
		[titleFormat]="titleFormat"
		[allDaySlot]="false"		
		contentHeight="auto" 
		minTime="07:00:00" 
		maxTime="20:00:00" 
		deepChangeDetection="true"
		(dateClick)="dateClick($event)"
		(eventClick)="eventClicked($event)">
	</full-calendar>
</div>

<div class="custom-modal" *ngIf="show_modal">
	<div>
		<form>
			<div>
				<div class="form-group">
					<label>Fecha: <strong>{{cita_fecha | date: 'short' }}</strong></label>
				</div>
			</div>
			<div class="form-group">
				<textarea class="form-control" [(ngModel)]="cita.nota" name="nota" placeholder="Notas..."></textarea>
			</div>
		</form>
		<button type="button" (click)="cancelarCita()" class="btn btn-secondary">Cancelar</button>
		<button type="button" (click)="aceptarCita()" class="btn btn-primary"> Acceptar </button>
	</div>
</div>