.menuIcons{
    width:35px;
    height:35px;
    vertical-align:middle;
    margin:0;
  }
.icons{
  padding:0;
  background-color: none;
}

.options{
  text-align: center !important;
  margin: 0 !important;
  width: 25%;
}
