.menuIcons{
    width:35px;
    height:35px;
    vertical-align:middle;
    margin:0;
  }
.icons{
  padding:0;
  background-color: none;
}

.options{
  text-align: center !important;
  margin: 0 !important;
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .hidden-mobile{
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .hidden-desktop{
    display: none;
  }
}
.tableColor{
  background-color: #3684C1;
  color: white;
}