<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2">
				<div class="card p-3">
					<h1>Pacientes</h1>
					<app-loading [display]="is_loading"></app-loading>
					<div class="container">
						<div class="pt-2 flex-wrap">
							<td>
								<button type="button" class="btn btn-primary btn-sm"
									[routerLink]="['/agregar-usuario']">
									Agregar Paciente
								</button>
							</td>
						</div>
						<div class="pt-2 flex-wrap">
							<input type="text" class="form-control" position="floating" (change)="changeSearch($event)"
								ionInput="changeSearch($event)" placeholder="buscar">
						</div>
						<table class="basica">
							<thead>
								<tr>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Telefono</th>
									<th>Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let paciente of pacientes">
									<td>{{paciente.nombre}}</td>
									<td>{{paciente.apellidos}}</td>
									<td>{{paciente.telefono}}</td>
									<td>
										<button type="button" class="btn btn-primary btn-sm mr-2"
											[routerLink]="['/editar-paciente',paciente.id]"
											[appAccess]="['RECEPCIONISTA']">Editar</button>
										<button type="button" class="btn btn-primary btn-sm mr-2"
											[routerLink]="['/citas','paciente',paciente.id]"
											color="secondary">Citas</button>
										<button type="button" class="btn btn-primary btn-sm mr-2"
											(click)="seleccionarDoctorNuevaCita(paciente)" color="secondary">Agendar
											Cita</button>
										<button type="button" class="btn btn-primary btn-sm mr-2"
											[routerLink]="['/agregar-familiar',paciente.id_usuario]"
											color="secondary">Agregar Familiar</button>
										<button type="button" class="btn btn-primary btn-sm mr-2"
											[routerLink]="['/consulta',paciente.id,doctor.id]" color="secondary"
											[appAccess]="['Doctor']">Agregar Consulta</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="mt-3 mb-3">
							<app-paginacion [path]="'/pacientes'" [pages]="pages" [totalPages]="totalPages" [currentPage]="currentPage"></app-paginacion>
						</div>

					</div>

				</div>
			</main>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>
