<div class="card p-2" >
	<full-calendar 
		#calendar 
		[header]="calendarOptions.header" 
		[plugins]="calendarPlugins" 
		[defaultView]="calendarOptions.defaultView"
		locale="es"
		[buttonText]="buttons"
		[titleFormat]="titleFormat"
		contentHeight="auto"
		[allDaySlot]="false"
		minTime="07:00:00" 
		maxTime="20:00:00" 
		deepChangeDetection="true"
		(dateClick)="dateClick($event)" 
		(eventClick)="eventClicked($event)">
	</full-calendar>
</div>

<div class="custom-modal" *ngIf="show_modal"></div>