<div class="card p-3">
    <div class="">
        <h4 class="mb-3">REPORTES</h4>

        <div class=" card p-0 mb-2 " >
            <div class="form-row p-2">
                <div class="form-group col-md-3">
                    <label>Fecha de inicio</label>
                    <input  type="date" class="form-control" [(ngModel)]="detalle_inventario_search.le.fecha">
                </div>
                <div class="form-group col-md-3">
                    <label>Fecha de fin</label>
                    <input  type="date" class="form-control" [(ngModel)]="detalle_inventario_search.ge.fecha">
                </div>
                <div class="form-group col-md-3">
                    <label>Cliente:</label>
                    <select  name="usuario_cliente" [(ngModel)]="detalle_inventario_search.eq.id_usuario_cliente"
                        class="form-control">
                        <option [value]="null" selected="selected">Seleccione un cliente</option>
                        <option *ngFor="let usuario of usuario_list" [value]="usuario.id">
                            {{usuario.nombre|titlecase}}</option>
                    </select>
                </div>
                <!-- <div class="form-group col-md-3">
                    <label>Vendedor:</label>
                    <select  name="centro_medico" [(ngModel)]="detalle_inventario_search.eq.id_usuario_atendio"
                        class="form-control">
                        <option [value]="null" selected="selected">Seleccione un usuario</option>
                        <option *ngFor="let usuario_atendio of usuarios_atendio" [value]="usuario_atendio.id">
                            {{usuario_atendio.nombre|titlecase}}</option>
                    </select>
                </div> -->
                <div class="form-group col-md-3">
                    <label>Centro Medico:</label>
                    <select  name="centro_medico" [(ngModel)]="detalle_inventario_search.eq.id_centro_medico"
                        class="form-control">
                        <option [value]="null" selected="selected">Seleccione un centro medico</option>
                        <option *ngFor="let centro_medico of centros_medicos" [value]="centro_medico.id">
                            {{centro_medico.nombre|titlecase}}</option>
                    </select>
                </div>
            

                <div class="form-group col-md-3">
                    <label>&nbsp;</label>
                    <button type="button" class="btn btn-primary w-100" (click)="search()">Buscar</button>
                </div>
            </div>
        </div>

        <div class="card">
        <table class="basica">
            <thead>
                <tr >
                    <th>Insumo</th>
                    <th>Cantidad</th>
                    <th>Unidad de medida</th>
                    <th>Total</th>
                    <th>Ultima Modificación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventario of inventarios">
            

                    <td>{{servicio_dic? servicio_dic[inventario.id_servicio].nombre:''}}</td>
                    <td>{{inventario.cantidad}}</td>
                    <td>{{unidad_dic? unidad_dic[servicio_dic[inventario.id_servicio].id_unidad_medida].nombre:''}}</td>
                </tr>
            </tbody>
        </table>
    </div>

        <div>
            <app-paginacion [path]="'/reporte-inventario'" [pages]="pages" [totalPages]="totalPages"
                [currentPage]="currentPage"></app-paginacion>
        </div>

    </div>
</div>
