/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Lato,'Lato', "Helvetica Neue", sans-serif;
  background-image: url(/assets/wallpaper.png);
  background-repeat: repeat;
}

table.basica
{
	width: 100%;
}
table.basica th
{
	text-align: center;
}

table.basica,.basica td,.basica th{
	border-collapse: collapse;
    border-color: #edf2f6;
    border-style: solid;
    font-size: 1.2em;
}

th{
  color:white;
}

.basica th
{
    text-align: center;
}

.basica td, .basica th {
	border-width: 0;
	line-height: 1.5;
  padding: 2px;
	color: #898989;
}
table.basica {
    border-width: 0;
    font-size: 13px;

    overflow-x: auto;
    	font-family: 'lato-light', 'arial', sans-serif;
	width: 100%;
	color: #000000;
	background-color: white;
  border: 2px white solid;
}

.basica thead tr{
  background-color: #3684C1;
  font-family: 'lato-thin', 'arial', sans-serif;
  color: white;
}
.basica thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.basica thead th
{
  border: 5px solid white;
  color: white;
  margin: 0 10px;
  height: 35px;
  line-height: 35px;
}

.basica tr:nth-child(odd) td
{
  background-color: #F3F3F3;
  border-left: 5px solid white;
  border-right: 5px solid white;
  padding: 10px;
}
.basica tr:nth-child(even) td
{
  border-left: 5px solid white;
  border-right: 5px solid white;
    padding: 10px;
}

app-header+div
{
	margin-top: 60px;
}

.page{
	position:absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.page>header
{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.page>div:nth-child(2)
{
	position: relative;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
	height: 100%;
	overflow: auto;
}
page>footer
{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}


main
{
	overflow: auto;
}

body
{
	overflow: hidden;
}

.page_content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
	height: 100%;
	overflow: hidden;
}

.page_content>div:first-child
{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
	overflow: auto;
}

.page_content>main
{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
	overflow: auto;
	width: 100%;
}

@media print {

	header
	{
		display:none;
	}
	body
	{
		overflow: auto;
	}
	.page
	{
		position: static! important;
	}
	.page_content {
		position: static !important;
	}

	.page_content>div:first-child
	{
		display: none;
	}

	.page_content>main
	{
		position: static !important;
		overflow: auto;
	}
	input[type="text"],input[type="number"]{
		border-top: 0;
		border-left: 0;
		border-right: 0;
	}

	button[type="button"]{
		display: none;
	}
	.card
	{
		border: 0;
	}
}


.custom-modal .hidden
{
	display: none;
}
.custom-modal
{
	position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 499; background-color: rgba( 0,0,0,0.6); pointer-events: all;
}

.custom-modal > div
{
	color: #464646;
	background-color: white;
	border-radius: 5px;
	min-width: 270px;
	min-height: 50px;
	padding: 15px;
	text-align: center;
	overflow: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 500;
	font-size: 16px;
}

/* FONT'S  */

h1,h2,h3,h4,h5{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato-bold', 'arial', sans-serif;
}

/* td,th{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato-light', 'arial', sans-serif;
  color: #898989;
} */

/*
button{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  font-family: 'lato-light', 'arial', sans-serif !important;
  font-size: 1.1em !important;
}
*/

@font-face{
  font-family: lato-bold;
  src: url(./assets/font/custom/Lato-Bold.ttf) format("opentype");}

  @font-face{
  font-family: lato-thin;
  src: url(./assets/font/custom/Lato-Thin.ttf) format("opentype");}

@font-face{
  font-family: lato-light;
  src: url(./assets/font/custom/Lato-Light.ttf) format("opentype");}

.no-selectable-text
{
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

/*
 */
.evento_normal
{
	background-color: red;
}
