<!-- <div class=" mb-3 d-flex justify-content-between flex-wrap">
	<div *ngIf="datosVenta">
		<button type="submit" class="btn btn-primary btn-sm" [disabled]="!datosVenta.venta.id"
			[routerLink]="['/punto-venta',datosVenta.venta.id]">Pagar </button>
	</div> 
</div> -->

<div class="dropdown">
	<div class=" mb-2 row">
		<div class="col-12">
			<h5 class="mb-2">*Nuevo Servicio</h5>
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
				</div>
				<input type="text" (keyup)="buscar($event)" id="busqueda" [(ngModel)]="busqueda" class="form-control"
					placeholder="Buscar...">
			</div>
		</div>
		<!-- <div class="col-2" *ngIf="search_loading">
			<div class="spinner-border text-primary" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div> -->
	</div>

	<div *ngIf="search_servicios.length && busqueda != ''" class="dropdown-menu show w-100 no-selectable-text">
		<div *ngFor="let servicio of search_servicios;let i=index" (click)="agregarServicio(servicio)">
			<!--div *ngIf="i>0" class="dropdown-divider"></div -->
			<div class="dropdown-item search">
				{{servicio.nombre|uppercase}}
			</div>
		</div>
	</div>
</div>

<div *ngIf="datosVenta" class=" border mt-2 hidden-mobile">


			<div class="row p-1" *ngFor="let sd of datosVenta.detalles">
				
				<label class="col-5  form-check-label">{{sd.servicio.nombre | titlecase}}</label>
				<label class="col-1  text-center form-check-label">{{sd.detalle_venta.cantidad}}</label>
				<label class="col-3  text-center"> {{sd.detalle_venta.precio| currency}}</label>
				<div class="col-3  text-right" *ngIf="datosVenta.venta.estatus !=='PAGADA' ">
					<div class="btn-group " role="group">
						<button type="button" class="btn btn-primary border font-weight-bold" (click)="disminuir(sd)"><i
								class="fa fa-minus"></i></button>
						<button type="button" class="btn btn-primary border font-weight-bold" (click)="aumentar(sd)"><i
								class="fa fa-plus"></i></button>
						<button type="button" class="btn btn-primary border font-weight-bold" (click)="eliminar(sd)"><i
								class="fa fa-times"></i></button>
					</div>
				</div>
			</div>

</div>

<!-- vista en dispositivos moviles -->
<div class=" hidden-desktop" *ngIf="datosVenta">
	<div class="list-group-item p-1" *ngFor="let sd of datosVenta.detalles">
		<div class="">
			<div class="center">
				<div class="aling-center  image_logo_movil form-check-label" *ngIf="sd.servicio.id_imagen">
					<img class="image_logo_movil" [src]="rest.urlBase+'/imagen.php?id='+sd.servicio.id_imagen"
						[alt]="sd.servicio.nombre+' imagen'">
				</div>
				<div class="form-check-label" *ngIf="!sd.servicio.id_imagen">
					<img class="image_logo_movil" src="assets/product.png" [alt]="sd.servicio.nombre+' imagen'">
				</div>
			</div>
			<div>Servicio: {{sd.servicio.nombre | titlecase}}</div>
			<div>Cantidad: {{sd.detalle_venta.cantidad}}</div>
			<div>Precio: {{sd.detalle_venta.precio | currency}}</div>
			<div *ngIf="infoPago.total_a_pagar != 0">Acciones:
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-primary border font-weight-bold" (click)="disminuir(sd)"><i
							class="fa fa-minus"></i></button>
					<button type="button" class="btn btn-primary border font-weight-bold" (click)="aumentar(sd)"><i
							class="fa fa-plus"></i></button>
					<button type="button" class="btn btn-primary border font-weight-bold" (click)="eliminar(sd)"><i
							class="fa fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row p-2" *ngIf="datosVenta.venta.estatus !=='PAGADA' ">
	<div *ngIf="datosVenta && datosVenta.venta" class="col-md-3">
		<div>Subtotal:</div>
		<div class="font-weight-bold">{{datosVenta.venta.subtotal| currency}}</div>
	</div>
	<div *ngIf="datosVenta && datosVenta.venta" class="col-md-3">
		<div>Iva:</div>
		<div class="font-weight-bold">{{datosVenta.venta.iva| currency}}</div>
	</div>
	<div *ngIf="datosVenta && datosVenta.venta" class=" col-md-6 text-right">
		<strong style="font-size:2.5rem;">{{infoPago.total_a_pagar | currency}}</strong>
	</div>
</div>

<div class="row p-2"
	*ngIf="datosVenta && datosVenta.venta.estatus == 'PAGADA'">
	<div *ngIf="datosVenta && datosVenta.venta" class="col-md-12 text-right">
		<strong style="font-size:3rem;">PAGADO</strong>
	</div>
</div>