
<div class=" mb-3 d-flex justify-content-between flex-wrap">
	<div>
		<h5 class="mb-3 mt-3">*Nuevo Servicio</h5>
	</div>

	<div>
		<button type="submit" class="btn btn-primary btn-sm" (click)="agregar()"
			[disabled]="is_loading">
			Pagar
		</button>
	</div>
</div>

<div class="dropdown">
	<div class="mt-3 row">
		<div class="col-10">
			<input type="text" (keyup)="buscar($event)" id="busqueda" [(ngModel)]="busqueda" class="form-control" placeholder="Buscar...">
		</div>
		<div class="col-2"*ngIf="search_loading">
			<div class="spinner-border text-primary" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	</div>
	<div *ngIf="search_servicios.length && busqueda != ''" class="dropdown-menu show w-100 no-selectable-text">
		<div *ngFor="let servicio of search_servicios;let i=index" (click)="agregarServicio(servicio)">
			<!--div *ngIf="i>0" class="dropdown-divider"></div -->
			<div class="dropdown-item search">
				{{servicio.nombre|uppercase}}
			</div>
		</div>
	</div>
</div>

<div *ngIf="datosVenta" class="p-0 mt-3 ">
	<ul class="list-group">
		<li class="list-group-item"  *ngFor="let sd of datosVenta.detalles">
			<div class="row">
				<label class="col-4 form-check-label">{{sd.servicio.nombre | titlecase}}</label>
				<label class="col-4 text-center form-check-label">{{sd.detalle_venta.cantidad}}</label>
				<div class="col-4 text-right">
					<div class="btn-group" role="group">
							<button type="button" class="btn btn-primary border font-weight-bold" (click)="disminuir(sd)">-</button>
							<button type="button" class="btn btn-primary border font-weight-bold" (click)="aumentar(sd)">+</button>
							<button type="button" class="btn btn-primary border font-weight-bold" (click)="eliminar(sd)">x</button>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
