
@media print {
  #sidebar-wrapper,.menuButtons{
      display: none;
  }
}

body {
  overflow-x: hidden;
}

#sidebar-wrapper {

  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



.menuButtons{
    padding-bottom: 5px;
    color: #fff;
}

.menuIcons{
  width:45px;
  height:45px;
  vertical-align:middle;
  margin-right:3px;
}
.menuSubButtons{
  padding-left: 30px;
  padding-bottom: 5px;
  color: #fff;
}
.noPadding{
 padding: 0% !important;
}
.sidebar{
  padding-bottom:5px !important;
  color: #fff !important;
}
.group{
 padding: 8px !important;

}
.list-group-item{
   color: #fff;
   font-size: 0.83em;
}
.color1{
 background-color:#3e5a80;
}
.color2{
 background-color:#3285c6;
}
.color3{
 background-color:#aad3c7;
}
.color4{
 background-color:#019eb6;
}
.color5{
 background-color:#8a93a1;
}


.menuFont{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'lato-bold', 'arial', sans-serif;
}

@font-face{
  font-family: lato-bold;
  src: url(../../../assets/font/custom/Lato-Bold.ttf) format("opentype");}

a{
margin-right: 10px;
  font-family: 'lato-bold', 'arial', sans-serif;
}

