<!-- Sidebar -->
<div id="sidebar-wrapper">
	<div class=" list-group-flush">
		<div [appAccess]="['ADMIN','DOCTOR','RECEPCIONISTA']" class="sidebar">
			<a (click)="showCentros = !showCentros" class="btn list-group-item list-group-item-action color1 group"><img
					src="./assets/icon/Mehr-Software-17.png" class="menuIcons" />Centro Medico</a>
		</div>

		<div *ngIf="showCentros">
			<div>
				<div [appAccess]="['ADMIN','DOCTOR']" class="menuSubButtons">
					<a (click)="seleccionar_clinica()" class="list-group-item list-group-item-action color1 ">Seleccionar CM</a>
				</div>
				<div [appAccess]="['ADMIN']" class="menuSubButtons">
					<a [routerLink]="['/especialidades']" class="list-group-item list-group-item-action color1 ">Especialidades</a>
				</div>
				<div [appAccess]="['ADMIN']" class="menuSubButtons">
					<a [routerLink]="['/centros-medicos']" class="list-group-item list-group-item-action color1 ">Clinicas</a>
				</div>
				<div [appAccess]="['ADMIN','DOCTOR']" class="menuSubButtons">
					<a [routerLink]="['/servicios']" class="list-group-item list-group-item-action color1 ">Servicios</a>
				</div>
				<div [appAccess]="['ADMIN','DOCTOR']" class="menuSubButtons">
					<a [routerLink]="['/gastos']" class="list-group-item list-group-item-action color1 ">Gastos</a>
				</div>
				<div [appAccess]="['ADMIN']" [routerLink]="['/inventario']" class="menuSubButtons">
					<a class="list-group-item list-group-item-action color1 ">Inventario</a>
				</div>
				<div [appAccess]="['ADMIN','DOCTOR']"[routerLink]="['/proveedores']"  class="menuSubButtons">
					<a class="list-group-item list-group-item-action color1 ">Proveedores</a>
				</div>
				<div [appAccess]="['ADMIN']" class="menuSubButtons">
					<a [routerLink]="['/usuarios']" class="list-group-item list-group-item-action color1 ">Usuarios</a>
				</div>
				<div [appAccess]="['ADMIN','DOCTOR']" class="menuSubButtons">
					<a [routerLink]="['/ingresos']" class="list-group-item list-group-item-action color1 ">Ingresos</a>
				</div>
				<div [appAccess]="['ADMIN','DOCTOR']" class="menuSubButtons">
					<a [routerLink]="['/ventas']" class="list-group-item list-group-item-action color1 ">Ventas</a>
				</div>
				<div [appAccess]="['ADMIN','DOCTOR']" class="menuSubButtons">
					<a [routerLink]="['/requisiciones']" class="list-group-item list-group-item-action color1 ">Requisiciones</a>
				</div>
				<div [appAccess]="['ADMIN','DOCTOR']" class="menuSubButtons">
					<a [routerLink]="['/distribucion']" class="list-group-item list-group-item-action color1 ">Distribución</a>
				</div>
				<div [appAccess]="['ADMIN','DOCTOR']" class="menuSubButtons">
					<a [routerLink]="['/punto-venta']" class="list-group-item list-group-item-action color1 ">Punto Venta</a>
				</div>
				<div [appAccess]="['RECEPCIONISTA']" class="menuSubButtons">
					<a [routerLink]="['/calendario-doctores']" class="list-group-item list-group-item-action color1 ">Calendario</a>
				</div>
				<div [appAccess]="['ADMIN']" class="menuSubButtons">
					<a [routerLink]="['/clientes']" class="list-group-item list-group-item-action color1 ">Clientes</a>
				</div>
				<div [appAccess]="['ADMIN']" class="menuSubButtons">
					<a [routerLink]="['/tipo-polizas']" class="list-group-item list-group-item-action color1 ">Tipo Polizas </a>
				</div>
				<div [appAccess]="['ADMIN']" class="menuSubButtons">
					<a [routerLink]="['/polizas']" class="list-group-item list-group-item-action color1 ">Polizas</a>
				</div>
				<div [appAccess]="['ADMIN']" class="menuSubButtons">
					<a [routerLink]="['/pagos-poliza']" class="list-group-item list-group-item-action color1 ">Pagos</a>
				</div>
				<!-- <div [appAccess]="['ADMIN','RECEPCIONISTA']" class="menuSubButtons">
					<a [routerLink]="['/reportes']" class="list-group-item list-group-item-action color1 ">Reportes </a>
				</div>
				<div [appAccess]="['ADMIN','RECEPCIONISTA']" class="menuSubButtons">
					<a [routerLink]="['/reporte-inventario']" class="list-group-item list-group-item-action color1 ">Reporte Inv. </a>
				</div> -->
				<!-- <div [appAccess]="['ADMIN']" class="menuSubButtons">
					<a [routerLink]="['/notificaciones']" class="list-group-item list-group-item-action color1 ">Notificacion </a>
				</div> -->
			</div>
		</div>

		<div [appAccess]="['ADMIN']" class="sidebar" >
			<a [routerLink]="['/doctores']" class="list-group-item list-group-item-action color2 group">
				<img src="./assets/icon/Mehr-Software-18.png" class="menuIcons" />Doctores
			</a>
		</div>

		<div [appAccess]="['ADMIN','DOCTOR','RECEPCIONISTA']" class="sidebar">
			<a [routerLink]="['/pacientes']" class="list-group-item list-group-item-action color3 group">
				<img src="./assets/icon/Mehr-Software-19.png" class="menuIcons" />Pacientes
			</a>
		</div>

		<div [appAccess]="['ADMIN','DOCTOR','RECEPCIONISTA']" class="sidebar">
			<a [routerLink]="['/citas']" class="list-group-item list-group-item-action color4 group ">
				<img src="./assets/icon/Mehr-Software-20.png" class="menuIcons" />Citas
			</a>
		</div>
	<!-- OPCIONES PACIENTES -->
	<div [appAccess]="['PACIENTE']" class="sidebar">
		<a [routerLink]="['/citas-paciente']" class="list-group-item list-group-item-action color1 group ">
			<img src="./assets/icon/mis-citas.png" class="menuIcons" /> Citas
		</a>
	</div>

	<div [appAccess]="['PACIENTE']" class="sidebar">
		<a class="list-group-item list-group-item-action color2 group ">
			<img src="./assets/icon/Mehr-Software-18.png" class="menuIcons" /> Mis doctores
		</a>
	</div>

	<div [appAccess]="['PACIENTE']" class="sidebar">
		<a [routerLink]="['/familiares']" class="list-group-item list-group-item-action color3 group ">
			<img src="./assets/icon/familiares.png" class="menuIcons" /> Familiares
		</a>
	</div>

	<div [appAccess]="['PACIENTE']" class="sidebar">
		<a [routerLink]="['/pagos-poliza']" class="list-group-item list-group-item-action color4 group ">
			<img src="./assets/icon/comprar.png" class="menuIconsTemp" /> Pagos
		</a>
	</div>
	<!-- FIN OPCIONES PACIENTES -->
		<div class="sidebar">
			<a (click)="showLogoutModal()" class="list-group-item list-group-item-action color5 group">
				<img src="./assets/icon/Mehr-Software-21.png" class="menuIcons" />Log out
			</a>
		</div>
	</div>
</div>


<app-modal [show]="show_logout">
	<!--button type="button" *ngIf="idOrganizacion" (click)="dismissModal()">Cerrar</button -->
			<div class="modal-content text-center ">
				<div class="modal-header">
					<h4 class="modal-title">Logout <i class="fa fa-lock ml-3"></i></h4>
				</div>
				<div class="modal-body">
					<p>Seguro que quieres salir del sistema?</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary btn-md" (click)="show_logout=false">Cancelar</button>
					<button class="btn btn-danger btn-md" (click)="logout()">Confirmar</button>
				</div>
			</div>
</app-modal>

<app-seleccionar-centro-medico [(show)]="show_seleccionar_centro_medico" [showCancel]="true"
	(selected)="onSeleccionarCentroMedico($event)"></app-seleccionar-centro-medico>

<!-- /#sidebar-wrapper -->





















<!--


<div class="pt-2 flex-wrap">
	<div class="row">
		<div class="col-3">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a class="nav-link " id="v-pills-home-tab" href="#v-pills-home" role="tab"
					aria-controls="v-pills-home" aria-selected="true">Centros Medicos</a>
				<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
					aria-controls="v-pills-profile" aria-selected="false">Doctores</a>
				<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
					aria-controls="v-pills-messages" aria-selected="false">Pacientes</a>
				<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
					aria-controls="v-pills-settings" aria-selected="false">Citas</a>
				<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
					aria-controls="v-pills-settings" aria-selected="false">Log out</a>
			</div>
		</div>
		<div class="col-9">
			<div class="tab-content" id="v-pills-tabContent">
				<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
					aria-labelledby="v-pills-home-tab">...</div>
				<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
					...</div>
				<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
					...</div>
				<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
					...</div>
			</div>
		</div>
	</div>
</div> -->
