<!-- NAVBAR -->

<div class="card p-3">
	<div class="container">
		<h4 class="mb-3 mt-3 ">{{this.tipoPrecio.id ? 'EDITAR':'AGREGAR'}} TIPO PRECIO</h4>
		<app-loading [display]="is_loading"></app-loading>
		<form>

			<div class="">
				<div class="form-group">
					<label position="stacked">Nombre Precio<span color="danger">*</span></label>
					<input required type="text" class="form-control" name="nombre" [(ngModel)]="tipoPrecio.nombre">
				</div>
			</div>
			<app-loading *ngIf="is_loading"></app-loading>
			<div class="ion-padding">
				<button type="button" expand="block" type="submit" class="btn btn-primary btn-sm" (click)="agregar()"
					[disabled]="is_loading">Agregar</button>
			</div>
		</form>
	</div>
</div>