<app-header title="Especialidades"></app-header>

<div class="container">
	<div class="d-flex flex-wrap">
		<!--MENU DE LA APLICACION-->
		<div *ngIf="statusmenu" class="p-2 flex-wrap customMenu">
			<!-- <app-menu></app-menu> -->
		</div>
		<!--FIN MENU DE LA APLICACION-->
		<!--CONTENIDO DE LA APLICACION-->
		<div class="p-2 flex-fill flex-wrap ">
			<div class="card">
				<form>
					<div class="list ion-no-margin ion-no-padding">
						<div class="form-group">
							<label position="stacked">Nombre Precio<span color="danger">*</span></label>
							<input required type="text" name="nombre" [(ngModel)]="tipoPrecio.nombre">
						</div>
					</div>
					<app-loading *ngIf="is_loading"></app-loading>
					<div class="ion-padding">
						<button type="button" expand="block" type="submit" class="ion-no-margin" (click)="agregar()" [disabled]="is_loading">Agregar</button>
					</div>
				</form>
			</div>
		</div>
		<!-- FIN CONTENIDO DE LA APLICACION-->
	</div>
</div>
<!--  -->
