<div class="card p-3">
	<div class="container">
		<div class="p-0 mt-3">
			<div class=" mb-3 d-flex justify-content-between flex-wrap">
				<div >
					<h4 class="">{{this.centro_medico.id ? 'EDITAR':'AGREGAR'}} CENTRO MEDICO</h4>
				</div>
				<div >
					<button type="button" class="btn btn-primary btn-sm" (click)="guardar()"
						[disabled]="is_loading">{{this.centro_medico.id ? 'Guardar':'Agregar'}}</button>
				</div>
			</div>
		</div>
	 
		<app-loading [display]="is_loading"></app-loading>
		<div class="container card mt-3 mb-3 pt-3 ">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="">Imagen</label>
					<app-image-uploader [(image)]="centro_medico.id_imagen_ticket"></app-image-uploader>
				</div>

				<div class="form-group col-md-6">
					<label for="">Imagen Ticket</label>
					<app-image-uploader [(image)]="centro_medico.id_imagen"></app-image-uploader>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label>Nombre<span>*</span></label>
					<input placeholder="Nombre" class="form-control" type="text" name="nombre" [(ngModel)]="centro_medico.nombre">
				</div>
				<div class="form-group col-md-4">
					<label>RFC<span>*</span></label>
					<input placeholder="RFC" class="form-control" type="text" name="rfc" [(ngModel)]="centro_medico.rfc">
				</div>
				<div class="form-group col-md-4">
					<label>Telefono<span>*</span></label>
					<input placeholder="Telefono" class="form-control" type="text" name="telefono" [(ngModel)]="centro_medico.telefono">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Ciudad<span>*</span></label>
					<input placeholder="Ciudad" class="form-control" type="text" name="ciudad" [(ngModel)]="centro_medico.ciudad">
				</div>
				<div class="form-group col-md-6">
					<label>Estado<span>*</span></label>
					<input placeholder="Estado" class="form-control" type="text" name="estado" [(ngModel)]="centro_medico.estado">
				</div>
				<div class="form-group col-md-6">
					<label>Dirección<span>*</span></label>
					<input placeholder="Direccion" class="form-control" type="text" name="direccion" [(ngModel)]="centro_medico.direccion">
				</div>
				<div class="form-group col-md-6">
					<label>Codigo postal<span>*</span></label>
					<input placeholder="Codigo postal" class="form-control" type="text" name="codigo_postal"
						[(ngModel)]="centro_medico.codigo_postal">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label>Saludo ticket<span>*</span></label>
					<input placeholder="saludo ticket" class="form-control" type="text" name="saludo_ticket"
						[(ngModel)]="centro_medico.saludo_ticket">
				</div>
				<div class="form-group col-md-4">
					<label>Tipo de cambio<span>*</span></label>
					<input placeholder="Tipo de cambio" class="form-control" type="text" name="tipo_cambio_dolares"
						[(ngModel)]="centro_medico.tipo_cambio_dolares">
				</div>
				<div class="form-group col-md-4">
					<label>Iva<span>*</span></label>
					<input placeholder="Iva" class="form-control" type="text" name="iva" [(ngModel)]="centro_medico.iva">
				</div>
			</div>
		</div>
	</div>
</div>