
<div>
<title>Especialidades</tittle>

	<img class="menuLogo" src="../../../assets/logo/Mehr-Software-16.png">
	<div class="container">
			<div class="card">
					<form>
							<div lines="full" class="list ion-no-margin ion-no-padding">
								<div *ngIf="centro_medico.id_imagen">
									<img [src]="this.rest.urlBase+'/imagen.php?id='+centro_medico.id_imagen">
								</div>
								<div class="form-group">
									<input type="file" (change)="uploadImage($event)" name="image">
								</div>
								<div class="form-group">
									<label position="stacked">Nombre<span color="danger">*</span></label>
									<input type="text" required type="text" name="nombre" [(ngModel)]="centro_medico.nombre">
								</div>
							</div>

							<app-loading *ngIf="is_loading"></app-loading>

							<div class="ion-padding">
								<button type="button" expand="block" type="submit" class="ion-no-margin" (click)="guardar()" [disabled]="is_loading">Guardar</button>
							</div>
						</form>
				</div>
			</div>
			<!-- FIN CONTENIDO DE LA APLICACION-->
	
	
	

