<!-- NAVBAR -->
<div class="page">
	<header>
		<app-header title="Especialidades" [pagina]="'jjj'"></app-header>
	</header>
	<!-- FIN NAVBAR -->
	<div>
		<div class="page_content">
			<!-- MENU -->
			<div class="pt-2 flex-wrap justify-content-start">
				<app-menu></app-menu>
			</div>
			<!-- FIN MENU -->
			<!-- CONTENIDO -->
			<main class="p-2">
				<div class="card p-3">
					<h1>Agregar Centro Medico</h1>
					<app-loading [display]="is_loading"></app-loading>
					<form>
						<div lines="full" class="list  ion-no-padding">
							<div *ngIf="centro_medico.id_imagen">
								<img [src]="this.rest.urlBase+'/imagen.php?id='+centro_medico.id_imagen">
							</div>
							<div class="form-group">
								<input type="file" (change)="uploadImage($event)" name="image">
							</div>
							<div class="form-group">
								<label>Nombre<span color="danger">*</span></label>
								<input class="form-control" type="text" name="nombre" [(ngModel)]="centro_medico.nombre" required>
							</div>
						</div>

						<app-loading *ngIf="is_loading"></app-loading>

						<div class="ion-padding">
							<button type="button" class="btn btn-primary" (click)="guardar()" [disabled]="is_loading">Guardar</button>
						</div>
					</form>
				</div>
			</main>
			<!-- FIN CONTENIDO -->
		</div>
	</div>
</div>
